[2019-08-21 18:41] alexBLR opened #498 "Confirm that all preservation workflows have similar metadata"
- [ ] Basis (DAMS)
- [ ] Basis - Review Date (DAMS)
- [ ] Basis - Reviewer	(DAMS)
- [ ] Basis Note (DAMS)
- [ ] Type (DAMS)
- [ ] One-to-many relationship

[2019-08-21 18:45] alexBLR opened #499 "Time boxed preservation workflow implementation"
- [x] Create preservation workflow model
- [x] Add curate work property
- [x] Write functional and unit tests
- [x] Assess approach after 1 day of implementation

[2019-08-21 18:47] alexBLR commented on #354
Depending on the implementation time check, we may change how we implement the feature.

[2019-08-21 21:05] eporter23 commented on #498
@zo do you need me to produce a mapping for this? For bulk ingest, this metadata would be coming from spreadsheets. I haven't been able to map it yet, until we know where it would be stored.

[2019-08-21 21:10] eporter23 opened #503 "Align Collection field names/labels to match revised Work fields"
Related to work queued in #407 for revising Work-level field names and labels, update equivalent Collection properties to align with them.

[2019-08-21 22:20] rotated8 commented on #498
Hey @eporter23, can you drop a link to the workflow metadata fields here, please?

[2019-08-21 23:11] eporter23 commented on #498
@rotated8 let me know if I can clarify.

[Workflow MD fields if in RDF](https://docs.google.com/spreadsheets/d/1Z0ebRLaPa4bEJayvTiqwU4ulFglWrpQPgVX6r6v29uY/edit#gid=1221411736)
[Workflow MD fields vs. DAMS, pull-list CSV columns](https://docs.google.com/spreadsheets/d/1NFMIeOpjrFfjfK_J_3dsS__xYmkZnl7LtEBpdeZuYbE/edit#gid=0)
[A sample DAMS spreadsheet](https://emory.box.com/s/sariu3l3ho61mtksxd30sz

[2019-08-22 11:31] tmiles2 commented on #475
@SolomonHD typically how long does it take for the firewall exception request to go through?

[2019-08-22 12:59] tmiles2 commented on #407
@rotated8 should this ticket be in "in progress" based on the comments from our DCE check-in? "Is there anything remaining needed from DCE for Ticket 407- Field Names? Collin to submit PR for Bess & Mark to review"

[2019-08-22 13:18] eporter23 commented on #441
@devanshu-m I tested this again in curate prod (on my home machine). In Safari, I experienced the duplicate FileSets on this new work:
https://curate.library.emory.edu/concern/curate_generic_works/cor-904dncjsz6?locale=en

I then switched to Firefox, cleared cache etc. I did _not_ experience the bug on this new work:
https://curate.library.emory.edu/concern/curate_generic_works/cor-3246q573nf?loca

[2019-08-22 13:49] eporter23 commented on #407
@rotated8 can you please touch base with @bess on the timing of this work, since it impacts the importer script?

[2019-08-22 14:21] devanshu-m commented on #441
@eporter23 can you put this back in either backlog/queued. I am not sure what the issue is here but I could see in the database that duplicates were inserted meaning multiple ajax requests were posted. I will look into this.

[2019-08-22 14:30] SolomonHD commented on #475
@tmiles2 The request is done. I mounted the EFS to libetdapprod1 last night and transferred about 80 GB worth of files

[2019-08-22 15:11] SolomonHD commented on #112
I found a really detailed ansible role at https://github.com/christiangda/ansible-role-amazon-cloudwatch-agent
I'm going to experiment with using this.

[2019-08-22 18:12] rotated8 commented on #407
@tmiles2 Not yet. I'll move it to in progress when I start coding.
@eporter23 👍 My plan is to request a review from @bess for the PR, and tag you and @mark-dce in the PR comments.

[2019-08-23 15:34] eporter23 opened #515 "Cannot remove a Work from Langmuir Collection"
In curate prod (0.3.13), if I try to remove a Work from the Langmuir Collection, I can make the change in the UI and save it, but the Collection relationship is not removed and immediately reappears.

The reason I'm doing so, is because I have test objects in there that I want to relocate to a test collection in case we do a data load in production.

**To Reproduce**
Steps to reproduce the behavio

[2019-08-23 21:31] eporter23 opened #519 "View Work does not display all populated metadata fields"
When testing the first Langmuir load, I noticed the View Work page does not appear to display all populated fields. Having all the populated fields display is needed for QA of migrated data. There are about 14 fields which aren't displaying when populated, some of which are required.

I created a test object in Curate-test which has a value in every field from the form/model:
https://curate-test.l

[2019-08-26 17:58] rotated8 opened #521 "Add Will to Envs"
Software Engineering has a new hire who needs to be added to test, prod and any other envs moving forward

[2019-08-27 21:20] eporter23 opened #524 "Enable cross-region replication in S3"
As part of our AWS@Emory configuration, we should make sure we have cross-region replication enabled so that we have 2 copies of files for preservation requirements for our version 1 of Cor

Relates to epic #205 for Preservation Storage

- [x] Research s3 cross replication
- [x] Enable s3 cross replication for fedora-cor bucket

[2019-08-28 13:31] alexBLR opened #527 "Display Preservation Workflow Fields"

[2019-08-28 19:53] eporter23 opened #531 "Get sample Yellowback books from filesystem"
For DCE to test ideas for structural metadata, we need to collect samples of Yellowback book objects which have multiple volumes or copies.

nfs://nasn2ac-nfs.cc.emory.edu:/ifs/emoryndb2/n2nfs/library/repl/lsdi

FULL SET - [base directory paths for all volumes to be migrated](https://emory.box.com/s/3ergcgqksla0mf8pfonjz6mbiht32ui5)

SAMPLES - directory paths

- [x] Sample 1: The slaves of Paris
*

[2019-08-28 19:55] eporter23 opened #532 "Upload files for Yellowback samples"
Relates to separate ticket for file list

[2019-08-29 14:19] SolomonHD commented on #475
![image.png](https://images.zenhubusercontent.com/5c191329a896da5d83d69955/0509f616-4510-493a-8b77-ba6dec77b34a)

[2019-08-29 14:19] rotated8 commented on #112
@SolomonHD I'd like to add sidekiq to this as well. Otherwise, looks good!

[2019-08-29 15:10] #389 closed

[2019-08-29 19:52] tmiles2 commented on #283
@devanshu-m Who's testing this issue?

[2019-08-29 19:53] devanshu-m commented on #283
I guess @eporter23 ? I can also do some tests.

[2019-08-29 19:57] tmiles2 commented on #283
Ok @devanshu-m
@eporter23 please test if possible

[2019-08-29 20:23] tmiles2 commented on #354
@alexBLR did you ever determine an estimate for this issue?

[2019-08-29 20:24] tmiles2 commented on #193
@mprefer Is there any progress on this issue?

[2019-08-29 20:38] SolomonHD commented on #521
@rotated8 @wulman16
Please put Will's netID and github user in this ticket.
Also Will needs an SSH key associated with his github account.

[2019-08-30 12:51] eporter23 opened #540 "Request full Alma record publishing for Yellowbacks"
- [x] Submit a ticket to Core Systems to update the small sample set to include all the records for Yellowbacks
- [x] Copy records to cot-data-transfer repo

[2019-08-30 13:42] eporter23 opened #541 "Curate test reset/wipe for migrations"
We need to switch over to treating production as a true production environment and no longer use it for testing.

- [x] DB is cleared out
- [x] Solr is cleared out
- [x] Fedora is cleared out
- [x] Redis is cleared out
- [x] tmp space is empty
- [x] S3 bucket is empty
- [x] Redeploy application (to regenerate 5 Phase 1 Collection entities are regenerated and all production permission groups/roles

[2019-08-30 13:44] eporter23 opened #542 "Create Administrative Objects for each Collection in Phase 1"
In order to store and manage selected collection-level information and files, we will create private administrative/staff-only objects in the repository to attach supplemental preservation files for each collection.

This approach also simplifies the need to split legacy metadata exports into individual records to assign at the per-object level.

- [ ] Administrative object follows consistent nami

[2019-08-30 15:18] eporter23 commented on #259
Closing as partial duplicate with work done by DCE in our co-sprint.

[2019-08-30 15:18] #259 closed

[2019-08-30 20:39] eporter23 commented on #283
Preliminary testing for [images](https://docs.google.com/document/d/1YFlg5KGxjrzW1Fxjh4JgOEhHOb2OKy9tnd6H_iZB9Uo/edit?usp=sharing) and [text documents](https://docs.google.com/document/d/1B3FjPVNZlnhfFqx4yB4ClRHOz7CXkTLtbPvhywX99Iw/edit?usp=sharing) all look good.

[2019-08-30 20:52] eporter23 commented on #283
@devanshu-m looks great! There are a few properties that I have [flagged on this sheet](https://docs.google.com/spreadsheets/d/1csDcDnJdhB1VLlgJUU95DndXSeIP2j8yPMlErrsVVPw/edit#gid=1836172006) in yellow that I want to follow up on which I am not seeing in my test samples: PUID, file path, charset. There are a few other things I wanted to confirm also.

[2019-09-03 05:07] rotated8 commented on #407
The PR #538 currently covers half this issue. It covers renaming the properties, but not rewriting the labels.

[2019-09-03 06:06] rotated8 commented on #363
@tmiles2 We need to review this with Solomon and Mark. This affects them more than Software Engineering.

[2019-09-03 06:19] rotated8 commented on #521
@wulman16 When you've added an SSH key, please let Solomon know.

[2019-09-03 14:14] SolomonHD commented on #112
The logs are in CloudWatch:

![image.png](https://images.zenhubusercontent.com/5c191329a896da5d83d69955/b78d4341-795f-4551-9fc8-25a22c0d017a)

[2019-09-03 14:15] SolomonHD commented on #475
Langmir Collection uploaded:

![image.png](https://images.zenhubusercontent.com/5c191329a896da5d83d69955/5601b0b7-1cea-4f7a-8ca1-c543fecba5c7)

[2019-09-03 14:16] #475 closed

[2019-09-03 15:14] eporter23 opened #547 "Add Rose Library users to Curate product"
Group users when adding them. Use the process like we have in place for the Admin YAML file.
See the [worksheet: Groups and Users tab](https://docs.google.com/spreadsheets/d/1vdercM6W3FZjHCjim0qyvPnlRo9tgbvY7XQ0SiDhx4o/edit#gid=1791455727) for epic #275.

- [x] YAML File for repository-wide group: Repository Managers
- [x] YAML file for each Rose user group: Rose Managers, Rose Viewers, Rose Depos

[2019-09-03 15:23] eporter23 opened #548 "Assign Rose groups to Langmuir and Yellowbacks Collections"
See the Collection and Groups worksheet from epic #275.

The Langmuir and Yellowbacks collections are accessible to specified Rose users. The Yearbooks collection is shared by both Rose and Oxford users, so will contain group assignments from both (see separate ticket).

- [x] Assign appropriate permissions from the spreadsheet to each group for the Langmuir Collection
- [ ] Assign appropriate per

[2019-09-03 15:33] #359 closed

[2019-09-03 16:40] eporter23 opened #549 "Add Oxford users to Curate product for Phase 1 Collections"
Repeats work from Rose users ticket.

Group users when adding them. Use the process like we have in place for the Admin YAML file.
See the [worksheet: Groups and Users tab](https://docs.google.com/spreadsheets/d/1vdercM6W3FZjHCjim0qyvPnlRo9tgbvY7XQ0SiDhx4o/edit#gid=1791455727) for epic #275.

- [x] YAML file for each Oxford user group: Oxford Managers, Oxford Viewers, Oxford Depositors
- [x] Add u

[2019-09-03 16:50] eporter23 opened #550 "Add new Oxford groups to Oxford and Yearbooks collections"
See the Collection and Groups worksheet from epic #275.

The Oxford Medical Artifacts collection is accessible to specified Oxford users. The Yearbooks collection is shared by both Rose and Oxford users, so will contain group assignments from both.

- [ ] Assign appropriate permissions from the spreadsheet to each group for the Yearbooks Collection
- [ ] Assign appropriate permissions from the spr

[2019-09-03 16:52] eporter23 opened #551 "Assign Rose, Oxford groups to Yearbooks Collection"
See the Collection and Groups worksheet from epic #275.

The Yearbooks collection is shared by both Rose and Oxford users, so will contain group assignments from both.

- [ ] Assign appropriate permissions from the spreadsheet to each group for the Yearbooks Collection
 - [ ] Assign appropriate permissions from the spreadsheet to each group for the Yellowbacks Collection
- [ ] Removing permissions

[2019-09-03 16:57] eporter23 opened #552 "Add new Health Sciences users to Curate product for Phase 1 Collections"
Repeats work from Rose, Oxford users ticket.

Group users when adding them. Use the process like we have in place for the Admin YAML file.
See the worksheet: Groups and Users tab for epic #275.

- [x] YAML file for each Health Sciences user group: Health Sciences Managers, Health Sciences Viewers, Health Sciences Depositors
- [x] Add users to each YAML file
- [x] Setup rake task to create group if

[2019-09-03 16:57] eporter23 opened #553 "Create Health Sciences, Medical Artifacts Collections for Phase 1"

[2019-09-03 17:03] eporter23 opened #554 "Add Health Sciences groups to Medical Artifacts Collection for Phase 1"
See the Collection and Groups worksheet from epic #275.

- [ ] The Oxford Medical Artifacts collection is accessible to specified Oxford users.
- [ ] Assign appropriate permissions from the spreadsheet to each group for the Oxford Medical Artifacts Collection
- [ ] Remove Hyrax default permissions for other users/groups from those Collections
- [ ] Discuss with DCE about any impact related to thei

[2019-09-03 20:07] SolomonHD commented on #531
I've created a ticket for granting access from libetdapprod1 to this NFS mount:
[Link](https://emory.service-now.com/nav_to.do?uri=%2Fsc_task.do%3Fsys_id%3Daae6f1271bafb3c0a8441f4ead4bcb78%26sysparm_record_target%3Dtask%26sysparm_record_row%3D1%26sysparm_record_rows%3D101%26sysparm_record_list%3Dopened_by%253Djavascript%253Ags.getUserID%2528%2529%255Esys_class_name%2521%253Dsc_request%255Esys_clas

[2019-09-03 21:07] eporter23 commented on #527
@alexBLR you may have seen these already, but I think these may be the most relevant ideas I had for UI options so far.

[Creating workflow metadata on a brand new work -- assigning Workflow Metadata](https://docs.google.com/drawings/d/1gFGxIw7JQwbGYHKVcST2CudadnRSJx_RpoMA5EN1TZU/edit?usp=sharing) (Accession or Ingest only)

[View-Only display of existing Workflow Metadata on a work](https://docs.

[2019-09-04 15:24] mprefer commented on #193
All metrics available to CloudWatch from the CloudWatch Agent on EC2. List of desired metrics to follow, with option to alter based on usefulness of metric(s):

https://docs.aws.amazon.com/en_en/AmazonCloudWatch/latest/monitoring/metrics-collected-by-CloudWatch-agent.html#linux-metrics-enabled-by-CloudWatch-agent

[2019-09-04 18:33] tmiles2 opened #560 "ARCH environment Setup"
3 SOLR, Curate, Lux, Cantaloupe, Fedora

- [x] Add Arch env to ansible scripts
- [x] Request DNS for arch environments
- [x] Add new rules to f5 and internal Elastic Load Balancer for arch envs
- [x] Request new fedora user from AWS@emory team for new arch fedora bucket

[2019-09-04 18:56] tmiles2 opened #562 "Cancel the old (premised) DLP sandbox VM"

[2019-09-04 19:53] mprefer commented on #531
File path for Yellowback files on the Curate server:

/mnt/efs/Collections/Yellowbacks/lsdi
/mnt/efs/Collections/Yellowbacks/lsdi2

[2019-09-04 20:38] SolomonHD commented on #521
I've added Will as an auditor on the aws@emory account and also added his keys to the deploy user's authoried_keys file. He should be able to login now.
@wulman16 The test is your ability to login to curate and curate-test

[2019-09-04 20:38] mprefer commented on #193
Initial list of metrics to capture (subject to change):

cpu_time_active
cpu_time_idle
cpu_time_iowait
cpu_time_system
cpu_time_user
cpu_usage_active
disk_free
disk_inodes_free
disk_inodes_total
disk_inodes_used
disk_total
disk_used
disk_used_percent
diskio_iops_in_progress
diskio_reads
diskio_read_bytes
diskio_read_time
diskio_writes
diskio_write_bytes
diskio_write_time
mem_active
mem_available
m

[2019-09-05 13:01] tmiles2 commented on #531
@SolomonHD @mprefer Can I get an estimation for this issue?

[2019-09-05 15:13] tmiles2 commented on #531
Can you provide the size of the copy was @mprefer

[2019-09-05 17:11] eporter23 commented on #441
Re-opening because I still occasionally see this in Safari. But, low priority to fix for now.

[2019-09-05 17:13] #378 closed

[2019-09-05 17:14] #127 closed

[2019-09-05 17:22] #203 closed

[2019-09-05 17:24] #379 closed

[2019-09-05 19:02] mprefer commented on #531
I made an error in my file list.
Am currently determining the size of all the files required to verify that it's 1.2 million files @ ~300GB.

[2019-09-05 19:04] mprefer commented on #363
Printed the security assessment form and will peruse it.

[2019-09-05 19:06] mprefer commented on #193
Will have to research the metrics available for non-EC2 elements in the environment, such as RDS and ELB, etc.

[2019-09-05 19:12] SolomonHD opened #570 "Create Ansible Role to manage the Backup/Restoring of Curate/Fedora/S3"
Bess has contacted me about the need to backup and restore curate after the Langmuir Collection
Since our system utilizes multiple server architecture, RDS and S3 it's going to be more involved to backup all of this and restore it. The best way forward will be an ansible role to manage all of this.

- [x] Develop ansible role that will backup curate's mysql database
- [x] Role should also utilized

[2019-09-05 19:48] eporter23 commented on #531
@mprefer if you copy up everything in those specified directories it may be ~1.4 million files ~330 GB. There are some files that we won't need for migration, but I'm sure it will be easier not to try to weed them out.

[2019-09-05 20:13] eporter23 commented on #484
Tested and closing, assuming that we see MD5 and SHA256 for Preservation Masters only, and we see SHA1 for all files even if they are not Preservation Masters.

[2019-09-05 20:13] #484 closed

[2019-09-05 20:14] eporter23 commented on #485
Functionally tested by viewing in Fedora and Hyrax, based on the understanding that SHA256 is only added to Preservation Master Files.

[2019-09-05 20:14] #485 closed

[2019-09-05 20:16] #210 closed

[2019-09-05 20:19] eporter23 commented on #298
Closed as duplicate

[2019-09-05 20:19] #298 closed

[2019-09-06 12:03] tmiles2 commented on #193
@mprefer Do we need to research the metrics on non-EC2 elements before Solomon take the next steps and closes out this issue?

[2019-09-06 13:27] mprefer commented on #193
No. We can proceed with establishing metrics in CW without those other non-EC2 services. Those can be created at any time and should not prevent moving forward with the current metrics list.

[2019-09-06 13:30] #427 closed

[2019-09-06 14:17] mprefer commented on #531
@eporter23 My numbers are a bit off from yours.
I found 328,790,111,688 (~ 330GB), but my file count was 3,094,140 which is much higher than ~1.4 million. Can this be correct?

[2019-09-06 14:24] eporter23 commented on #531
@mprefer I'll check with Kyle to see what may be going on there. I know there are extraneous files in those directories that we won't ingest, but I don't know if it would account for doubling the expected count.

[2019-09-06 15:16] eporter23 commented on #531
@mprefer Kyle noted "if the overall size is close to expected, but the file counts are doubled, it's probably because every image has a corresponding thumbnail file, which won't form part of the ingested object."

[2019-09-06 15:17] mprefer commented on #531
@eporter23 So I can exclude the thumbnails ?

[2019-09-06 15:42] #451 closed

[2019-09-06 15:43] #119 closed

[2019-09-06 16:29] eporter23 opened #572 "Refresh PDFs for Yellowbacks on AWS staging"
Kyle completed some compression/optimization work on Yellowbacks PDFs which will need to be re-transferred before final ingest.

Re-transfer files in the [PDF_Path column of the pull-list spreadsheet](https://emory.box.com/s/qq9n6e9swyozu3maly0wtwggybgztgln)

[2019-09-06 20:17] mprefer commented on #531
Yellowbacks file transfer begun 4:17PM 09/06/19.

[2019-09-09 14:16] eporter23 opened #573 "Revision for Tech MD: DROID on prod"
Relates to ticket #283. PUID identification is missing from FITS when tested in test and prod, but we have seen it in local/development environments.

Devanshu noted that DROID may not be running on PROD, which is where PUID is extracted from.

[2019-09-09 14:47] rotated8 opened #574 "Create nested attributes for preservation events"
Nested class should be called PreservationEvent, and have three attributes:

- [ ] type
- [ ] timestamp
- [ ] notes

[2019-09-09 14:50] eporter23 opened #575 "Mitigate cor- prefix and pair tree performance concerns"
Relates to #474.

~DCE recommended either reversing the string for Fedora, or removing the "cor-" prefix from the pair tree in Hyrax code.~

Currently, the minter ID template uses 'cor' as a prefix, which causes performance issues with Fedora, because of its pairtree node creation. Rather than changing the behavior of ActiveFedora, we should change our ID template to frontload the random bits.

-

[2019-09-09 15:21] #283 closed

[2019-09-09 15:21] eporter23 commented on #283
I created a revision ticket for the one missing property which is PUID.

[2019-09-09 15:27] eporter23 opened #576 "Transfer Yearbooks files to Cor staging"
Yearbooks files are stored on lsdi or lsdi2 (same shares as Yellowbacks). [See this Box note.](https://emory.box.com/s/exgc00xe41foumogn2muuuucsk9r5q17)

- [x] [Base directory paths for Oxford Yearbooks](https://emory.box.com/s/h4b6tgleqdk66io0xyo8ehbme42uo70e)

- [x] [Base directory paths for Emory Yearbooks](https://emory.box.com/s/sm5p4oppskxh5qc3qgjqe5efbrj90ibx)

Expected file size to copy:
2

[2019-09-09 15:28] eporter23 opened #577 "Transfer Medical Artifacts collection files to Cor staging"
Medical Artifacts file paths:
https://emory.box.com/s/zjrv57zgmt6wam8sxmmmd3u6z5mrnosh

Estimated size: 36 GB
Estimated counts: 240 (tifs)

[2019-09-09 15:29] eporter23 opened #578 "Transfer Kobe collection files to Cor staging"
Kobe file paths:

https://emory.box.com/s/w31g5ukbhm36p7903vb5ud6fgqj1hhgk

Estimated file size: 25 GB
Estimated file count: 195 (tifs)

[2019-09-09 18:49] devanshu-m opened #580 "Run characterizejob on pmf"
- [ ] Make sure only pmf is characterized and file metadata properties are not appended/overwritten with characterization results for different types of files

[2019-09-09 19:06] devanshu-m commented on #580
@eporter23 Please test this when deployed.

[2019-09-09 20:28] SolomonHD commented on #112
@rotated8 @alexBLR @bess @devanshu-m

I've updated the wiki with an entry about view logs with CloudWatch.

https://wiki.service.emory.edu/display/DLPP/DLP+CloudWatch+Logging

[2019-09-09 21:19] eporter23 commented on #474
We've discussed this a few times and agree it will cause Fedora performance concerns. A separate ticket was written to mitigate this.

[2019-09-09 21:19] #474 closed

[2019-09-10 04:31] mprefer commented on #531
Killed the rsyncs that were running since 09/06/19.
Started 2 rclone sessions, 1 for LSDI, 1 for LSDI2.

LSDI startup:
![rclone_lsdi-2.png](https://images.zenhubusercontent.com/5c12be5f7387c610cbb20714/0593fb9a-a40a-4490-aeb6-ef7c9327a9f5)

LSDI2 startup:
![rclone_lsdi2-2.png](https://images.zenhubusercontent.com/5c12be5f7387c610cbb20714/d512278b-d22c-4e2c-9d9a-e01c179f47a9)

[2019-09-10 04:37] mprefer commented on #531
The LSDI2 rclone session completed. All the files had already been transferred to the destination on the EFS volume, The rclone session validated the MD5 checksums between the source and destination with no errors.

![rclone_lsdi2-complete.png](https://images.zenhubusercontent.com/5c12be5f7387c610cbb20714/32cbd1ef-eb1e-484f-ae43-c68a0a85a0c1)

The LSDI session is still running at 12:35AM 09/10/19.

[2019-09-10 12:19] tmiles2 commented on #531
Thanks @mprefer for the update. @SolomonHD @mprefer Can we document on the Wiki the process you used that was successful, what wasn't and why? I think it will be useful as we do more migrations in the future. We can add an issue for documenting the process in our next sprint if it will impede on your time to complete other priorities remaining in the sprint.

[2019-09-10 12:54] tmiles2 commented on #363
I've added a task in box for all AWS users to read the Rules of Behavior.

[2019-09-10 14:19] tmiles2 commented on #580
@devanshu-m is there an estimate for this work?

[2019-09-10 14:21] tmiles2 commented on #242
Collin did you complete the breakout of this epic?

[2019-09-10 15:01] #521 closed

[2019-09-10 15:58] eporter23 commented on #580
I tested a [work with multiple FileSets](https://curate-test.library.emory.edu/concern/curate_generic_works/cor-320sqv9s5b?locale=en) containing a PMF plus derivatives. As we wanted, the PMF gets the characterization and enriched metadata, and the derivative files get basic technical metadata only.

Bonus: the Upload Files process seems faster now.

[2019-09-10 15:58] #580 closed

[2019-09-10 17:01] eporter23 opened #582 "Thumbnails not always generating for TIF images"
**Describe the bug**
I created a [test work for a digitized book with multiple page-oriented file sets](https://curate-test.library.emory.edu/concern/curate_generic_works/cor-2085hqbzm5?locale=en). After the first 4 pages were created, I notice that additional pages aren't getting thumbnails generated reliably.

Instead of the page image being displayed, a white image with random black dots appear

[2019-09-10 21:09] eporter23 opened #585 "Term(s) missing from Content Type vocab definition"
Our vocab for content_type is missing one or more terms in the Edit form.

[LC Resource Type vocab terms](http://id.loc.gov/vocabulary/resourceTypes.html) are:

- [x] _Artifact_ (is missing: will be needed for the Kobe and Medical Artifacts collections)
- [x] Audio
- [x] Cartographic
- [x] Collection
- [x] Dataset
- [x] Digital
- [x] Manuscript
- [x] Mixed material
- [x] Moving image
- [x] Multime

[2019-09-10 21:14] eporter23 commented on #585
I think originally the form had a value for Article instead of Artifact, which we removed because it wasn't a valid term. So, we need to restore http://id.loc.gov/vocabulary/resourceTypes/art as a value but with the label Artifact.

[2019-09-11 14:23] #499 closed

[2019-09-11 20:52] devanshu-m opened #586 "Enhance UserSetup task to lower db queries"
- [ ] Enhance removal and addition of users to a user_group. Refer: https://github.com/emory-libraries/dlp-curate/pull/583/files#diff-0f04141e68d14d6afc1a89b54ee201e0R32

[2019-09-12 01:08] SolomonHD commented on #193
The CloudWatch Metrics have been turned on for all DLP instances.

![Metrics are under DLP_Metrics](https://images.zenhubusercontent.com/5c191329a896da5d83d69955/7df2c98b-8973-407a-aef9-4ce902b23271)

![Search metrics by hostname](https://images.zenhubusercontent.com/5c191329a896da5d83d69955/f068cb10-5d33-4b4f-924a-cbbb243c555f)

[2019-09-12 01:08] #193 closed

[2019-09-12 01:09] #112 closed

[2019-09-12 01:09] #344 closed

[2019-09-12 01:12] SolomonHD commented on #524
Enabling cross replication will require Versioning to be enabled. Will discuss during standup

[2019-09-12 14:50] #532 closed, assigned to nobody

[2019-09-13 12:52] #540 closed

[2019-09-13 13:56] SolomonHD commented on #524
Bucket versioning and cross replication have been enabled for fedora-cor-binaries bucket and fedora-cor-test-binaries bucket.

fedora-cor replicates to backup-fedora-cor-binaries while fedora-test replicates to backup-fedora-cor-test-binaries

![image.png](https://images.zenhubusercontent.com/5c191329a896da5d83d69955/2ceb6106-9524-4c8d-86b6-2f4575170c7f)

[2019-09-13 13:56] SolomonHD commented on #524
To test I copied a new file to fedora-cor and within about 5 minutes it was replicated to the backup bucket.

[2019-09-13 13:57] #524 closed

[2019-09-13 15:10] #531 closed

[2019-09-13 15:27] eporter23 commented on #576
@mprefer @SolomonHD here's the info for the Yearbooks file transfer. We can start this as soon as you're ready.

[2019-09-13 19:46] eporter23 commented on #35
@SolomonHD @mprefer I think we can close this, yes?

[2019-09-13 20:10] #35 closed

[2019-09-16 13:10] eporter23 commented on #576
@mprefer Kyle updated me today that the file size count may be higher than previously estimated. It may be more like 1,204 GB (including some files that we won't actually ingest).

[2019-09-16 13:35] mprefer commented on #576
Oxford Yearbooks transfer begun:
09/13/2019 @ 13:53

Emory Yearbooks transfer begun:
09/13/2019 @ 15"56

[2019-09-16 13:38] mprefer commented on #576
Oxford Yearbooks complete:
Number of files: 36,598
Size:                    349.527GB
Run time:               31H 9M

![oxford_yearbooks_files.png](https://images.zenhubusercontent.com/5c12be5f7387c610cbb20714/a977e8c7-7190-4dba-9b74-a6b7d17412e7)

[2019-09-16 13:42] mprefer commented on #576
Emory Yearbooks complete:
Number of files:  161,377
Size: 822.696GB
Run rime: 63H 2M

![emory_yearbooks_files.png](https://images.zenhubusercontent.com/5c12be5f7387c610cbb20714/67aac48c-e6cb-424c-9a2f-8075d8bd848f)

[2019-09-16 14:18] SolomonHD commented on #570
So after some thinking about this:

My current idea is to develop a general ansible role that will do a mysqldump to s3. This role will shutdown a service that you specify, and bring it back up after the dump is completed.

This role will also handle import databases in a similar manner. We can then use this role to dump or import fedora, hyrax mysql databases.

For the S3, use the AWS Console to

[2019-09-16 20:07] mprefer commented on #576
Validated the checksums with the 'md5sum' command on the EFS mount and the local Isilon mount points. 100% valid.

[2019-09-16 20:07] #576 closed

[2019-09-16 20:11] mprefer commented on #573
Attempted to execute /opt/fits-1.4.0/fits.sh -i <some GZip file>. Fits threw the exception below:

2019-09-16 18:29:40 - ERROR - ToolBelt:140 - Thread 1 error initializing edu.harvard.hul.ois.fits.tools.droid.Droid: java.lang.InstantiationException  Message: edu.harvard.hul.ois.fits
.tools.droid.Droid
java.lang.InstantiationException: edu.harvard.hul.ois.fits.tools.droid.Droid
	at java.lang.Class.

[2019-09-16 20:30] mprefer commented on #573
Downloaded a fresh copy of 'fits-1.4.0.zip' from the Harvard FITS website, unzipped the contents, execute the same command as above. Here is the XML output (note the highlighted line with the PUID):

![fits.png](https://images.zenhubusercontent.com/5c12be5f7387c610cbb20714/63511e90-6678-4cca-94cb-00a507f1c457)

Ran an md5sum on all the files in the original FITS directory and the new FITS director

[2019-09-16 20:34] eporter23 commented on #576
Thanks @mprefer !

[2019-09-16 20:40] mprefer commented on #573
Ooops, spoke too soon. Found the culprit in the <FITS_Home>/xml/fits.xml.

From the fits.xml file from the existing install:
<droid_sigfile>DROID_SignatureFile_V90.xml</droid_sigfile>

From the fits.xml file from the new install:
<droid_sigfile>DROID_SignatureFile_V94_Alt.xml</droid_sigfile>

[2019-09-17 14:50] devanshu-m opened #593 "Implement a solution for extracted_text files"
Based on investigation from ticket #454, implement a solution for being able to attach extracted_text files to a fileset successfully.

[2019-09-17 15:04] #407 closed

[2019-09-17 15:54] eporter23 commented on #573
@mprefer @devanshu-m confirmed - we have PUID!

![Screen Shot 2019-09-17 at 11.53.25 AM.png](https://images.zenhubusercontent.com/5b6de3fda32a4f476097b0be/a0f1c2df-81bc-4bdf-9525-0ffc28c615ab)

[2019-09-17 15:54] #573 closed

[2019-09-18 14:29] #575 closed

[2019-09-18 17:09] SolomonHD commented on #570
@rotated8 @bess
The current ansible role will backup curate and fedora's database. By tomorrow I will be in a position to attempt importing. I would like some assistance testing this out.

[2019-09-18 20:06] tmiles2 commented on #519
@wulman16 can you provide an estimation for this work?

[2019-09-19 04:53] rotated8 commented on #281
Work creation: after the create_work job is successful: https://github.com/samvera/hyrax/blob/master/app/jobs/create_work_job.rb#L21

Fileset creation: after the fileset is saved: https://github.com/emory-libraries/dlp-curate/blob/master/app/actors/hyrax/actors/file_set_actor.rb#L26

File persisted: in the attach_file_to_work job: https://github.com/emory-libraries/dlp-curate/blob/master/app/jobs/

[2019-09-20 16:30] mprefer commented on #562
Catalog request to decommission vmch-hydra-sb.library.emory.edu (aka hydrabox) submitted, work order # 20-00872.

[2019-09-23 11:46] tmiles2 commented on #570
@SolomonHD Sounds like this issue should be in "to test", it that correct? Also Collin is out this week did he or Bess have chance to test this work last week?

[2019-09-23 11:50] tmiles2 commented on #560
@SolomonHD I need an update on this work when you get a chance.

[2019-09-23 12:42] eporter23 commented on #208
Closing this epic, but this Preservation Event does need to be captured in the Event log (separate epics and tickets)

[2019-09-23 12:42] #208 closed

[2019-09-23 13:45] #585 closed

[2019-09-23 14:27] eporter23 commented on #206
Discuss if we truly need these in metadata or if we can achieve this another way.

[2019-09-23 14:36] tmiles2 commented on #192
@SolomonHD Can you give us an update on the progress of this work; has it been completed?

[2019-09-23 14:52] eporter23 commented on #572
Discussed on 9/23 - we can use the original file list to target PDFs if needed

[2019-09-23 15:46] eporter23 commented on #515
Tested in -test and prod on 9/23, was able to remove and re-assign works to the Langmuir collection

[2019-09-23 15:59] eporter23 opened #602 "NOID minter error - ticket 575"
This follows changes we made in ticket #575 to adjust the NOID scheme. I tried to create a new work in Curate prod and Curate test to see the new NOID suffix scheme. I get the following error in both environments:

![Screen Shot 2019-09-23 at 11.53.29 AM.png](https://images.zenhubusercontent.com/5b6de3fda32a4f476097b0be/34317ec1-c038-435f-92c1-c979861ae7d9)

[2019-09-23 16:04] eporter23 opened #603 "NOID minter error after ticket 575"
Relates to work done in #575:

Trying to create new works in curate 0.4.8 and curate-test 0.4.8 produces this error:

![Screen Shot 2019-09-23 at 11.53.29 AM.png](https://images.zenhubusercontent.com/5b6de3fda32a4f476097b0be/7236b8c1-8ce0-4e2b-839d-e3d892bb0b6e)

[2019-09-23 18:26] devanshu-m commented on #391
@eporter23 can you please clarify what is required in this ticket? Could this be a ticket for @wulman16 to work on?

[2019-09-23 18:32] devanshu-m opened #604 "Investigate thumbnails not generating correctly for TIF files"

[2019-09-23 19:00] eporter23 commented on #602
closing as duplicate

[2019-09-23 19:00] #602 closed

[2019-09-23 19:21] alexBLR commented on #603
Fixed with @devanshu-m

[2019-09-23 19:21] #603 closed

[2019-09-23 19:37] eporter23 commented on #404
Removing this from the NOID epic because it should not prevent that work from being closed.

[2019-09-23 19:37] #17 closed

[2019-09-23 19:40] mprefer commented on #296
@rotated8 Can you supply the directories that will need periodic cleanup, and should there be any restrictions, such as age of file?

[2019-09-23 19:43] eporter23 commented on #461
The Metadata Group agreed that we'll continue with XXXX or a date range to supply completely unknown or approximate dates. As an enhancement, we would like to change the display of "XXXX" to "Undated" .

[2019-09-23 20:29] tmiles2 commented on #363
@mprefer I uploaded a new version of the document to box as the old one had several margin issues. I also incorporated your comments into the migration section. I've identified risks that have been reviewed and migrated with "completed". Anything your still looking into I noted that with "investigating" or "need to confirm". I'm going to setup some time for us to go over the document tomorrow.

[2019-09-23 20:30] tmiles2 commented on #296
@eporter23 can you supply the directories that Mark P. needs since Collin is out?

[2019-09-23 22:01] eporter23 commented on #296
@tmiles2 unfortunately, no, I don't have those details

[2019-09-24 13:20] eporter23 opened #605 "Homepage error when Feature Work is enabled"
If I select a work to be featured on the homepage using the basic Hyrax UI option, an application error is displayed.

![Screen Shot 2019-09-24 at 9.18.51 AM.png](https://images.zenhubusercontent.com/5b6de3fda32a4f476097b0be/7a3b6570-de49-492c-83a2-5b7c5dccb684)

[2019-09-24 13:34] SolomonHD commented on #570
I've tested some of this role's functionality. Backing up the fedora and curate mysql database and importing works. There still needs to be some development around backup and restoring efs volumes (for the thumbnails) and around fedora/s3 lifecycle policy. I can break that out into another ticket and close this one if you like @tmiles2

[2019-09-24 13:43] #519 closed

[2019-09-24 13:43] eporter23 commented on #519
Looks good! There is one field remaining (Persistent URL/primary_repository_id) but we'll handle that in a separate ticket.

[2019-09-24 16:56] SolomonHD commented on #560
I'm still waiting on the fedora-arch user to be created. I contacted Paul Peterson and hopefully he'll get it to me today.

[2019-09-25 15:00] tmiles2 opened #607 "(R-02)Security assessment - remediation work: CloudWatch Metric"
Description of the risk identified by the security team: https://emory.app.box.com/file/528500401683

**(R-02) Configuration Management: CloudWatch – Sensitive Data in Custom Metric:** An Emory user could create a custom metric that contains PHI or sensitive data.

**Security Recommendation:** When creating custom metrics within AWS CloudWatch, user must configure service in a way that does not ca

[2019-09-25 15:09] tmiles2 opened #608 "(R-04)Security assessment - remediation work: prohibit public sharing of EBS volumes"
Description of the risk identified by the security team: https://emory.app.box.com/file/528500401683

**(R-04) Configuration Management: EBS – Data Exposure:**  Users are able to set EBS volumes as public. These volumes can be easily seen and accessed by anyone with an AWS account. This is a similar risk to public S3 buckets, except in this case there is a master list of all public EBS volumes ava

[2019-09-25 15:19] tmiles2 opened #609 "(R-08)Security assessment - remediation work: Investigating the SSL connection from the client to the MySQL database"
Description of the risk identified by the security team: https://emory.app.box.com/file/528500401683

**(R-08) Configuration Management: RDS - Encryption of Data in Transit:** Communications to/from the database may not be appropriately encrypted. For ePHI workloads this violates the terms of the Amazon Business Associate Agreement. For all workloads containing sensitive information, lack of netwo

[2019-09-25 15:23] tmiles2 opened #610 "(R-08)Security assessment - remediation work: Implement the solution identified in issue 609"
Description of the risk identified by the security team: https://emory.app.box.com/file/528500401683

**(R-08) Configuration Management: RDS - Encryption of Data in Transit:** Communications to/from the database may not be appropriately encrypted. For ePHI workloads this violates the terms of the Amazon Business Associate Agreement. For all workloads containing sensitive information, lack of netwo

[2019-09-25 16:52] tmiles2 commented on #363
I met with @mprefer today to review the security assessment document, identified risks that require further investigate into the remediation and documented work to implement others. All of those items are captured in issues: #607, #608, #609 and #610.

[2019-09-25 16:53] #363 closed

[2019-09-25 17:34] eporter23 opened #612 "Revise automated collection generation from CSV process"
Revise the automated collection re-generation process to include:

- [x] multiple collections in a single spreadsheet
- [x] collections can be manually edited by Curate users and manual edits are not lost on re-builds
- [x] collection IDs remain persistent if regenerated - and should we recreate them with the new NOID pattern?

- [x] This refactor should also take into account the amount of time c

[2019-09-25 18:12] eporter23 opened #613 "Production Data Load Plans"
## Story
As a Repository Administrator, I want to plan for large scale production data loads, so that prioritized content migrations occur successfully without data loss

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

#### Notes
This epic will be used for tracking various items flagged to be completed prior to production data ingests. Some ticket

[2019-09-26 13:07] eporter23 opened #614 "Missing files from Langmuir transfer"
In doing a small randomized test load, the importer tool alerted me to several files being missing. We may see more of these as we do larger runs, but here are two directory paths that reported errors:

MSS_1218_Langmuir/ARCH/OP82/MSS1218_OP82_P0001_ARCH.tif
MSS_1218_Langmuir/ARCH/XOP34/MSS1218_XOP34_P0001_ARCH.tif

Can we check if these filenames exist and/or if the path is wrong?

[2019-09-26 15:29] eporter23 commented on #466
Closing this one because it's being addressed differently in other tickets, and Collin prefers to keep the collections closely tied to the application

[2019-09-26 15:29] #466 closed

[2019-09-26 15:39] eporter23 opened #615 "Create form interface for creating preservation workflows metadata"
Note: we can focus on creating this metadata for now. We still need to determine if users should actually be able to _edit_ this.

[2019-09-26 15:42] eporter23 opened #616 "Display all Technical Metadata on View FileSet page"
Expand the display of Technical Metadata on the View FileSet page so that it includes all the metadata extracted by FITS for the Preservation Master File

[List of technical metadata fields which may be extracted](https://docs.google.com/spreadsheets/d/1csDcDnJdhB1VLlgJUU95DndXSeIP2j8yPMlErrsVVPw/edit#gid=1836172006)

[2019-09-26 16:26] #454 closed

[2019-09-26 16:26] #593 closed

[2019-09-26 16:27] #437 closed

[2019-09-26 16:59] eporter23 opened #617 "Implement thumbnail generation fix"
Following the investigation ticket:

Thumbnails on local machines look fine, but curate-test and prod instances do not generate thumbs successfully.

- [x] update ImageMagick version on curate-test (seems to resolve issue)
- [x] update on curate prod

[2019-09-26 16:59] #604 closed

[2019-09-26 17:07] mprefer commented on #617
Downloaded ImageMagick-7.0.8-66.x86_64.rpm and ImageMagick-libs-7.0.8-66.x86_64.rpm from the ImageMagick site and installed on curate-test.

[2019-09-26 17:11] mprefer commented on #617
Downloaded ImageMagick-7.0.8-66.x86_64.rpm and ImageMagick-libs-7.0.8-66.x86_64.rpm from the ImageMagick site and installed on curate.

convert -version
Version: ImageMagick 7.0.8-66 Q16 x86_64 2019-09-21 https://imagemagick.org

[2019-09-26 17:12] mprefer commented on #617
I'll look at the Ansible script to see if ImageMagick is installed from the yum repo and propose downloading the most current RPMs from the ImageMagick site.

[2019-09-27 13:28] eporter23 opened #618 "Investigate Cantaloupe performance for high-res images"
If we continue to serve out high res TIF files, investigate ways to increase load time (can take 5-20 seconds to load an image in the viewer)

[2019-09-27 14:06] eporter23 commented on #582
Tested in -test and prod.

[2019-09-27 14:06] #582 closed

[2019-09-27 14:06] #617 closed

[2019-09-27 14:08] eporter23 commented on #396
@devanshu-m @tmiles2 I'm adding an estimate of 2 to this and closing it. This work was completed in part through the other group setup tickets, but also was some work done to get Tiffany added for testing on 9/27.

[2019-09-27 14:08] #396 closed

[2019-09-27 14:12] #515 closed

[2019-09-27 14:20] tmiles2 commented on #527
@alexBLR Can you get the screenshot of the work completed by lunch so we can close out testing this issue?

[2019-09-27 14:58] eporter23 opened #619 "Test Users/Groups/Roles Functionality for Collections"
This ticket dedicates extra time for conducting detailed testing on Hyrax permission roles as implemented for Emory.

For users, confirm
- [x] Accounts are created
- [x] Accounts are assigned to appropriate groups

For each role, log the outcomes on the testing worksheet:

- [x] Test Admin role
- [x] Test Manager role
- [x] Test Depositor role
- [x] Test Public user (unauthenticated)

Groups
- [x]

[2019-09-27 15:27] eporter23 commented on #285
Discussed de-scoping this work with DCE. As an alternative, we can package up the full XML export from Alma and add it to a collection's administrative object, like we are doing with DAMS exports.

[2019-09-27 15:29] #461 closed

[2019-09-27 15:38] eporter23 commented on #547
@devanshu-m I'm closing this based on checking the users assigned to each group. I also created a new ticket (assigned to me) to do more in-depth testing on groups and abilities like we started on 9/26.

[2019-09-27 15:38] #547 closed

[2019-09-27 15:43] eporter23 commented on #548
@devanshu-m I'm not sure if this ticket is complete according to the checkbox items above?

For Langmuir, I manually added the Repository Manager group which was missing, but I don't know if this needs to be updated in the automation tasks?

Yellowbacks does not have any Rose groups assigned.

[2019-09-27 16:26] eporter23 opened #620 "Security Assessment Response"
## Story
As a Repository Administrator, I want to ensure that the Cor repository infrastructure addresses any security recommendations identified in our review, so that our AWS infrastructure aligns with LITS best practices

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

#### Notes
The LITS security team sent a review document with recommendation

[2019-09-27 16:40] SolomonHD commented on #560
I received the fedora-arch user credentials a few days ago and Gerry updated the shibboleth metadata for curate-arch. I will proceed with building out the environments today.

[2019-09-27 21:23] #392 closed

[2019-09-30 14:23] SolomonHD opened #621 "Request AWS Backup functionality for aws@emory account"
We need AWS Backup for snapshot and restore functionality of EFS mounts, this will be necessary for restoring thumbnails and derivatives to a certain point.

- [x] Initiate security review for AWS Backup
- [x] Reach out to security team for ETA on approval

[2019-09-30 15:15] eporter23 opened #622 "Investigate ability to search by ID in Curate"
Can we configure the Curate search to search by an item's NOID ID?

[2019-09-30 15:16] SolomonHD commented on #614
The files are there but the paths are:
/mnt/prod_efs/Collections/dmfiles/MARBL/Manuscripts/MSS_1218_Langmuir/ARCH/OP/MSS1218_OP82_P0001_ARCH.tif

/mnt/prod_efs/Collections/dmfiles/MARBL/Manuscripts/MSS_1218_Langmuir/ARCH/XOP/MSS1218_XOP34_P0001_ARCH.tif

[2019-09-30 15:26] eporter23 opened #623 "Test backup and restoration process - test"
- [ ] Copy one environment totally to another environment and replicating it
- [ ] Document the backup and restoration process on the WIKI

As a first step, backup all components of -test

[2019-09-30 16:15] eporter23 commented on #614
@SolomonHD in the spreadsheet I see 490 files that have /OP/ and /XOP/ in their paths, is that about what you are seeing there also?

[2019-09-30 16:44] #553 closed

[2019-09-30 17:15] eporter23 opened #624 "Investigate fixity service job provided by Hyrax"
- [x] Confirm if Hyrax only provides single file checking (and which one)
- [x] Confirm which queue(s) the job goes in
- [x] Check if job is queued for at the work level or a FileSet level

[2019-09-30 17:23] eporter23 opened #625 "Log event for Fixity Check"
- [ ] If attached to FileSet: figure out a way to capture at the work level
- [ ] Record as FileSets or create a job to check fixity on all FileSets and aggregate
- [ ] Record standard [preservation events metadata](https://docs.google.com/spreadsheets/d/1Z0ebRLaPa4bEJayvTiqwU4ulFglWrpQPgVX6r6v29uY/edit#gid=497852377) including success, failure

See also ticket #281

[2019-09-30 17:26] eporter23 opened #626 "Implement FileSet changes for Hyrax fixity service"
Builds on prior investigation ticket #624.

- [x] If applicable, implement FileSet-oriented adjustments
- [x] Implement UI components for running Fixity Checks on demand, once enabled
- [x] Implement a "Check Fixity" option in the UI either at work-level (preferred) or FileSet level, depending on how the job is enqueued

[2019-09-30 17:32] eporter23 opened #627 "Cron job for fixity checking on a schedule"
This ticket should follow the software engineering ticket to create a rake task for fixity checking in bulk.

Create a cron job that kicks off the fixity check rake task

To be confirmed: how often this needs to run

[2019-09-30 17:40] #192 closed

[2019-09-30 17:43] eporter23 opened #629 "Configure Lux environment to use SOLR Cloud, Cantaloupe, etc."
Pre-work for when DCE starts working on Lux

Make sure Lux uses any shared components

[2019-09-30 17:53] eporter23 opened #630 "Log preservation events tied to Work Creation"
after the create_work job is successful: https://github.com/samvera/hyrax/blob/master/app/jobs/create_work_job.rb#L21

Metadata extraction (object level, from Curate form, CSV, or Alma)
Policy Assignment (assignment of rights/visibility level)

[2019-09-30 17:54] eporter23 opened #631 "Log preservation events related to Characterization"
Characterization: in the characterization job: https://github.com/samvera/hyrax/blob/master/app/jobs/characterize_job.rb#L12

Characterization events:

Metadata extraction (files/FITS)
Format identification (files/FITS)
Validation (files/FITS)

[2019-09-30 17:55] eporter23 opened #632 "Log events related to File Attach Job"
When the File Attach Job occurs, log this event:

* Message digest calculation

File persisted: in the attach_file_to_work job: https://github.com/emory-libraries/dlp-curate/blob/master/app/jobs/attach_files_to_work_job.rb#L55

[Example outputs for message digest calculation](https://docs.google.com/document/d/1O_Ut_j8ZAf9WdMGOUNwreM-WVEZ04rKictnUWg3-BLA/edit#)

[2019-09-30 17:56] eporter23 opened #633 "Log event for Virus Check"
Virus Check: after the checker service runs: https://github.com/samvera/hyrax/blob/addb09f382feb86ab32f937d1c41feaf8d7a1537/app/models/concerns/hyrax/virus_check.rb#L14

[2019-09-30 17:58] eporter23 opened #634 "Log events for FileSet creation"
FileSet Save

Replication (to S3)

Fileset creation: after the fileset is saved: https://github.com/emory-libraries/dlp-curate/blob/master/app/actors/hyrax/actors/file_set_actor.rb#L26

[2019-09-30 17:59] eporter23 opened #635 "Log events for Work Creation"
Work creation: after the create_work job is successful: https://github.com/samvera/hyrax/blob/master/app/jobs/create_work_job.rb#L21

Object Validation

[2019-09-30 18:00] #281 closed

[2019-09-30 18:05] rotated8 commented on #622
How is the ID stored in Solr?
Can the ID field be added to Blacklight's search terms?

[2019-09-30 20:29] eporter23 opened #637 "Directory Paths for some Langmuir images incorrect in importer"
There are about 500 Langmuir images whose path contains an "OP" or "XOP" directory. These files paths appear to be getting rewritten when checked by the CSV importer:

Original path value from CSV
::nasn2dmz.cc.emory.edu:dmfiles:MARBL:Manuscripts:MSS_1218_Langmuir:ARCH:**OP**:MSS1218_OP1_P0001_ARCH.tif

Path as reported by importer pre-check (see original "OP" vs. "OP1" directory below):
/mnt/prod

[2019-10-01 16:42] devanshu-m opened #639 "Improve user-groups creation"
- [ ] Improve efficiency of the User creation and group assignment class

[2019-10-01 19:56] rotated8 commented on #305
@eporter23 Is this still a pre-migrate issue?

[2019-10-01 20:04] eporter23 commented on #305
@rotated8 I don't think it is anymore, so I will move it to Backlog and remove that label

[2019-10-02 14:21] eporter23 commented on #76
Related to DCE importer work in progress, we have identified selected fields for which we will supply values as URIs to the importer. Other fields are either validated through the form's use of Questioning Authority or are accepted as strings. Dates must also be supplied as EDTF in order to validate in the form.

Thus far, testing has been successful on compatibility between CSV supplied metadata

[2019-10-02 14:26] eporter23 commented on #325
Closing this because we will not need to offer this support for derivative files in v.1. We can do most of these things at the FileSet level for the preservation master file already.

[2019-10-02 14:26] #325 closed

[2019-10-02 14:51] rotated8 commented on #631
We will log this as one "event", since all these happen at the same time.

[2019-10-02 14:52] rotated8 commented on #631
Pseudocode is something like

[code]

[2019-10-02 15:21] tmiles2 opened #640 "Secure SOLR instance"
- [ ] Create a password for the instance
- [ ] Test with the ARCH environment

[2019-10-02 15:28] SolomonHD commented on #560
I've got the arch environment up at curate-arch.library.emory.edu. Currently it's giving an invalid SSL name, not a big deal but I'll double check the cert on it.

@rotated8 I made changes to capistrano. I created another role for the collection steps called :collection and create a minimal deploy namespace for each environment that does not include the collection step. This will give us a quick w

[2019-10-02 18:16] mprefer commented on #258
Discovered an HTTP 502 error in the Apache logs after uploading a 2+ Gig file. HTTP 502 errors are broadly defined, but usually associated with the "Bad Gateway" error, which usually indicates there is a timeout somewhere in flow from source to destination and all points between.

[2019-10-02 18:21] mprefer commented on #258
After much research and trial & error, implemented the following 2 solutions that seem to have rectified the problem:

In the ELB settings for the balancer that both curate and curate-test use, I increased the "Idle Timeout" value from the default of 60 seconds to 3600 seconds (1 hour):

![ELB_Attributes.png](https://images.zenhubusercontent.com/5c12be5f7387c610cbb20714/60045a1b-ec82-4af7-a6cb-7e2

[2019-10-02 18:24] mprefer commented on #258
Since making these changes in both curate & curate-test, have upload multiple files to each with success. Mostly OS ISO files and 2 MP4 files ranging >=2Gig and <2.5Gig.
All these tests thus far have succeeded.
Note to anyone testing, there is a slight lag between when the status bar has reached the maximum and the message "Files Uploaded" appear in the UI above the status bar.

[2019-10-02 20:46] mprefer commented on #578
CSV file has been downloaded and massaged for 'rclone';

Started 'rclone' transfer 10/02/2019 @ 4:45PM

[2019-10-02 20:47] mprefer commented on #577
CSV downloaded and massaged for 'rclone'.

'rclone' transfer started 10/02/2019 @ 4:47PM

[2019-10-02 22:22] mprefer commented on #578
File transfer complete after 1 hour 26 minutes.

MD5 checks will begin 10/03/2019.

[2019-10-02 22:37] mprefer commented on #577
File transfer complete after 1 hour 42 minutes.

MD5 checks will begin 10/03/2019.

[2019-10-03 00:41] SolomonHD commented on #621
I've opened a ticket requesting this functionality be added to our aws@emory account.

[Link](https://emory.service-now.com/nav_to.do?uri=%2Fsc_task.do%3Fsys_id%3D450118541b94c890a8441f4ead4bcba5%26sysparm_record_target%3Dtask%26sysparm_record_row%3D2%26sysparm_record_rows%3D106%26sysparm_record_list%3Dopened_by%253Djavascript%253Ags.getUserID%2528%2529%255Esys_class_name%2521%253Dsc_request%255Es

[2019-10-03 04:11] #570 closed

[2019-10-03 04:15] SolomonHD opened #644 "Create Ansible role for backup and restoring solr"
- [x] Create Ansible role that exports Solr index data and configs from Zookeeper
- [x] Create compressed tarball of data and configs from Zookeeper and store in S3 bucket
- [x] Create Ansible role that can unarchive backup file and restore to Solr instance
- [ ] Complete testing in AWS
- [x] Push to github

[2019-10-03 04:18] SolomonHD opened #645 "Create ansible role that automates EFS snapshot and restore"
I do not see an ansible module for AWS Backup. We will have to call the aws cli with ansible.
[AWS Backup CLI](https://docs.aws.amazon.com/cli/latest/reference/backup/index.html)

- [ ] Create role that restores and snapshots efs volumes

[2019-10-03 13:51] mprefer commented on #562
vmch-hydra-sb.library.emory.edu has been decommissioned and charges have been suspended.

Charges have been suspended as of 10/02/2019 and will be reflected in October billing.

[2019-10-03 13:51] #562 closed

[2019-10-03 14:03] eporter23 commented on #258
I uploaded a 1.4GB uncompressed yearbook PDF: https://curate-test.library.emory.edu/concern/parent/631cjsxkt6-cor/file_sets/9182jm63zm-cor
The upload appeared to complete, but I am unable to download the file from Curate: I also can't find it in Fedora. I'm not sure if the various ingest jobs are still running, because I don't see checksums and other info populated yet, so I will check back on it

[2019-10-03 14:34] SolomonHD opened #646 "Create ansible role for s3 lifecycle tagging and delete by tag"
As part of the hyrax/fedora/solr backup and restore playbook that's being developed, we need an ansible role that will manage mass tagging and deleting objects from s3. Although there is an s3_lifecycle module I don't see the options needed for this role. Mostly likely this role will need to leverage the aws cli.

- [x] Create role that mass tags objects in s3
- [ ] The role should also delete obj

[2019-10-03 20:52] eporter23 commented on #574
@alexBLR here are additional properties that may be needed for Events. Let me know if you want to discuss or prioritize these. https://docs.google.com/spreadsheets/d/1Z0ebRLaPa4bEJayvTiqwU4ulFglWrpQPgVX6r6v29uY/edit#gid=497852377

[2019-10-04 14:37] SolomonHD commented on #560
I've fixed the ssl issues with curate-arch and the PR has been merged.

[2019-10-04 14:37] #560 closed

[2019-10-04 14:44] #639 closed

[2019-10-04 15:02] rotated8 commented on #612
@eporter23 With the collections permission check piece, what did you have in mind?

[2019-10-04 15:12] eporter23 commented on #612
@rotated8 that probably means to restore the custom permission groups assigned (like what Devanshu has been working on)

[2019-10-04 17:50] mprefer commented on #578
MD5 checksums between source and destination 100% valid.

[2019-10-04 17:50] #578 closed

[2019-10-04 17:51] mprefer commented on #577
MD5 checksums between source and destination 100% valid.

[2019-10-04 17:51] #577 closed

[2019-10-04 18:49] eporter23 opened #650 "UI for post-ingest Preservation Workflows and Events"
## Story
As a Preservation Curator, I want to utilize a user interface for selected preservation activities, so that I can fulfill long-term preservation commitments in a self-service capacity without requesting developer time

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

#### Notes
This epic is a catch-all for a number of user interface compon

[2019-10-04 19:47] tmiles2 commented on #612
@devanshu-m @wulman16 Do you have an estimation for this issue?

[2019-10-04 19:50] devanshu-m commented on #612
@tmiles2 updated

[2019-10-04 19:53] tmiles2 commented on #549
@eporter23 Who completed this work?

[2019-10-04 19:54] tmiles2 commented on #552
@eporter23 Same here, do you know who completed this work?

[2019-10-04 20:01] tmiles2 commented on #612
Thanks @devanshu-m

[2019-10-04 20:12] alexBLR commented on #527
![Screen Shot 2019-10-04 at 4.12.09 PM.png](https://images.zenhubusercontent.com/5c488275c10ae96cd915967b/19f9446d-2ea7-4a36-9340-3b0a27ebd563)

[2019-10-04 20:58] eporter23 commented on #549
@tmiles2 I thought Devanshu had already done this as part of prior work, but maybe I misunderstood.

[2019-10-07 13:01] eporter23 commented on #622
@wulman16 this looks great. I've been testing against our NOID values and values in other_identifiers. For documentation and training purposes, can you tell me which fields have been included/added to the Curate search?

[2019-10-07 13:03] eporter23 commented on #527
@alexBLR thanks, this looks good!If there were two workflows populated, such as one set of entries for Accessioning and one set of entries for Ingest, would they simply repeat?  I may want to tweak the display later but this is really helpful to confirm all the fields exist.

[2019-10-07 13:08] eporter23 commented on #552
@devanshu-m I see the Health Sciences groups here: https://curate-test.library.emory.edu/roles so I assuming this ticket is complete?

[2019-10-07 13:09] eporter23 commented on #549
@devanshu-m @devanshu-m I see the Oxford groups here: https://curate-test.library.emory.edu/roles so I assuming this ticket is complete?

[2019-10-07 13:17] devanshu-m commented on #552
@eporter23 I guess? The requirement was to have those groups and users in those groups should exist?

[2019-10-07 13:18] devanshu-m commented on #549
@eporter23 I guess? We discussed putting both tickets in to test since the work is complete.

[2019-10-07 13:29] wulman16 commented on #622
@eporter23 I added only the NOID values to search, which will work for collections, filesets, and works.

[2019-10-07 13:29] eporter23 opened #655 "Populate Repository Manager group and add to all Collections"
The [repository_manager](https://curate-test.library.emory.edu/roles/8/edit?locale=en) group is defined to provide Manager-level access to all collections in the repository.

- [x] Create all the [identified user accounts](https://docs.google.com/spreadsheets/d/1vdercM6W3FZjHCjim0qyvPnlRo9tgbvY7XQ0SiDhx4o/edit#gid=1791455727&range=J:J) needed if they do not already exist in Curate (Doug Goans is m

[2019-10-07 13:38] #552 closed

[2019-10-07 13:38] eporter23 commented on #552
@devanshu-m yes, as far as I am concerned this is done. Closing!

[2019-10-07 13:39] eporter23 commented on #549
As far as I can tell, this is done, in that the users exist and are in the right groups.

[2019-10-07 13:39] #549 closed

[2019-10-07 13:45] eporter23 opened #656 "Hyrax Roles UI error when adding a user to a participant role group"
The /role UI will allow you to remove a user from a group, but not add one.

Low priority to fix, but it would be nice to fix this so that LTDS staff can maintain the groups with the UI instead of requiring updates by code.

[2019-10-07 13:48] eporter23 commented on #656
Update: after retesting in v0.4.13 this now appears to be working. Was throwing in error in previous versions.

[2019-10-07 13:48] #656 closed

[2019-10-07 14:07] #622 closed

[2019-10-07 14:14] eporter23 opened #657 "Large files do not attach or complete ingest"
Relates to other ticket #258 - see detailed test outcomes especially from October. See also this [sample work with files of various sizes](https://curate-test.library.emory.edu/concern/curate_generic_works/631cjsxkt6-cor?locale=en) attached.

Large files appear to upload, but they do not attach to FileSets or complete full characterization, checksum generation, etc. The individual files can't be l

[2019-10-07 14:14] #258 closed

[2019-10-07 14:35] rotated8 opened #658 "Investigate Automatic Permissions"
- [ ] Find out (and comment here) where the admin permissions are added to every work.
- [ ] Attempt to add the repo managers group with ??? permissions in the same way.

[2019-10-07 14:37] rotated8 commented on #658
@eporter23 I'm not clear what the permissions for the group are...

[2019-10-07 14:49] #527 closed

[2019-10-07 14:56] eporter23 commented on #572
Removed pre-migrate label because it's unclear if Kyle will resume this work before November

[2019-10-07 15:35] eporter23 commented on #658
@rotated8 for repository_manager group, that should get the Manager Participant Role on every collection. Here's what it looks like in the UI:

<img width="1006" alt="Screen Shot 2019-10-07 at 11 34 33 AM" src="https://user-images.githubusercontent.com/13855987/66326145-7d1a8680-e8f6-11e9-9e28-95d74c795459.png">

[2019-10-07 16:42] eporter23 commented on #551
@devanshu-m I just added these groups back manually using the UI and will test them again after the next deployment. I will close this ticket and work from my separate testing ticket for detailed testing.

[2019-10-07 16:42] #551 closed

[2019-10-07 16:42] eporter23 commented on #550
Assigned groups via the UI - will test separately in the testing ticket to make sure the permissions are retained after deployments occur.

[2019-10-07 16:42] #550 closed

[2019-10-07 16:43] eporter23 commented on #548
Added/confirmed all the groups through the UI; will retest that they are retained after the next deployment.

[2019-10-07 16:43] #548 closed

[2019-10-07 16:46] #206 closed

[2019-10-07 16:47] eporter23 commented on #206
Closing this epic because we have determined we can search by ID without also having to add it to metadata. Separate epic/ticket will be needed to display the ID on the Show Work and other pages.

[2019-10-07 16:48] #554 closed

[2019-10-07 17:03] rotated8 commented on #658
@eporter23 Great, thanks!

[2019-10-07 17:42] wulman16 commented on #622
@eporter23 After looking into it further, it looks like essentially every metadata field is currently searchable. (In other words, the only reason we had to add NOID in the first place is that it's not stored as metadata.)

[2019-10-07 21:06] eporter23 commented on #622
@wulman16 @rotated8 does this mean every field that is configured as "stored_searchable" is searchable from the Curate searchbox?

[2019-10-08 14:56] mprefer commented on #562
Placed SN request to retire Avamar backups on this VM.
Request number:  INC03239532.

Placed additional SN request to have DNS CNAME record 'hydrabox.library.emory.edu' that pointed to this VM.
Request number:  INC03239552

[2019-10-08 16:05] eporter23 commented on #618
The Medical Artifacts collection is also full of very high res images. https://curate-test.library.emory.edu/concern/curate_generic_works/cor-7375tb2rd1?locale=en

If you click on the share icon in the viewer toolbar, then click on the IIIF icon, you can get the IIIF manifest data for any object:

![Screen Shot 2019-10-08 at 12.04.17 PM.png](https://images.zenhubusercontent.com/5b6de3fda32a4f47609

[2019-10-08 19:37] eporter23 opened #665 "Collection metadata: change CSV de-duplicating to not use local_call_number"
Relates to work in #612. We need a reliable ID to de-duplicate collections against, but local_call_number is an optional field and formal/official call numbers have not been defined for some collections. Call number also displays to the public so we don't want to have fake info there.

Options:
* Add the de-duplication ID method DCE is adding for the importer tool for work-level metadata to Collec

[2019-10-09 17:00] eporter23 opened #669 "Include Asian Artifacts, Medical Artifacts collections in CSV generation process"
Expands on work in ticket #612 to include the additional two collections. These were created manually in curate-test, but have the old NOID pattern. They do not yet exist in production.

[Asian Artifacts](https://curate-test.library.emory.edu/dashboard/collections/cor-1439zw3r2q?locale=en)

[Medical Artifacts](https://curate-test.library.emory.edu/dashboard/collections/cor-549g4f4qsm?locale=en)

A

[2019-10-09 19:42] #574 closed

[2019-10-10 15:04] tmiles2 commented on #655
@eporter23 Solomon will add Doug in the Admin file manually

[2019-10-11 12:39] #612 closed

[2019-10-11 12:39] eporter23 commented on #612
Tested this on Langmuir, Yellowbacks, and Yearbooks. Created additional tickets for enhancing deduplication and including the other two collections.

[2019-10-11 12:41] eporter23 commented on #655
@SolomonHD @devanshu-m I still don't see Doug as a user in prod or test if I look in the UI. Can you all confirm?

[2019-10-11 14:19] SolomonHD commented on #621
Here is the email I've recently received from Chris Dehner:

Solomon,

I don't think I need anything else at the moment.  AWS Backup is quite the spiders web as it connects with at least 5 different services.  It'll take Zach and me some time to identify risks, recommend rememdiations, and present it to the cloud working group for approval.  It'll take a little time as it has to pass through diffe

[2019-10-11 14:25] eporter23 opened #673 "Show User UI: Works Created link returns no matches"
This occurs both in our local Curate as well as Nurax, so it may be a Hyrax bug.

In the [Show Users page](https://curate-test.library.emory.edu/users), if you click on the _Works Created_ link for a user with activity noted, the query returns no results.

Also, the _Activity Tab_ on an individual user's profile displays differently formatted but functional links.
![Screen Shot 2020-08-24 at 4.18.

[2019-10-11 14:50] eporter23 commented on #655
@devanshu-m The [Repository managers group](https://docs.google.com/spreadsheets/d/1vdercM6W3FZjHCjim0qyvPnlRo9tgbvY7XQ0SiDhx4o/edit#gid=1791455727&range=J:J) should include Alex Cooper, Cari Lovins, Doug Goans, Emily Porter. When I view it in the /roles UI I only see Kathryn Michaelis. Can you confirm what is in the yml file for this group?

[2019-10-11 15:03] devanshu-m commented on #655
@eporter23 They have been added to the yml file. I guess @SolomonHD needs to rebuild servers for those changes to take place?

[2019-10-11 17:21] eporter23 commented on #409
Resolved through larger de-duplication strategy in importer. This involves establishing a dedicated deduplication field in Curate Generic Work which corresponds to a de-duplication column in the CSV ingest sheet.

[2019-10-11 17:21] #409 closed

[2019-10-11 18:10] SolomonHD commented on #655
I've manually added all the repository managers to the curates.

[2019-10-11 18:31] #655 closed

[2019-10-11 18:37] eporter23 opened #674 "Errors in Universal Viewer: images do not load"
When logged in as Admin and trying to view images in curate-test (from off campus, but connected by VPN) I am getting login errors in the Universal Viewer:

![Screen Shot 2019-10-11 at 2.35.47 PM.png](https://images.zenhubusercontent.com/5b6de3fda32a4f476097b0be/0f57942e-1ac8-40ba-afee-7e24053cb164)

[2019-10-14 14:24] mprefer commented on #618
Added this item to <Curate_root>/shared/.env.production:
IIIF_SERVER_URL=http://iiif-cor-test.library.emory.edu/cantaloupe

[2019-10-14 14:33] mprefer commented on #618
Code from hyrax.rb initializer that checks the ENV variable for IIIF_SERVER_URL:

  # Enable IIIF image service. This is required to use the
  # IIIF viewer enabled show page
  #
  # If you have run the riiif generator, an embedded riiif service
  # will be used to deliver images via IIIF. If you have not, you will
  # need to configure the following other configuration values to work
  # with you

[2019-10-14 15:27] devanshu-m opened #675 "Preservation event nested attribute on fileset"

[2019-10-14 18:21] #675 closed

[2019-10-15 13:41] wulman16 commented on #674
I'm also seeing this error on curate-test, though I'm unable to reproduce it locally.

[2019-10-15 13:54] mprefer commented on #618
When using the provided URLs earlier in this ticket, Riiif is used for image rendering. However, drilling down via the UI to display an image, system is attempting to use Cantaloupe.
So I'm going to move this to in progress.

[2019-10-15 14:03] eporter23 commented on #321
Re-opening because this work may not have been completed.

[2019-10-15 14:09] eporter23 opened #679 "Can't assign thumbnails/representative images to Collections in Curate"
The Hyrax UI offers the ability to select a thumbnail for each Collection, but this functionality does not appear to work in Curate.

Select an image
![Screen Shot 2019-10-15 at 10.07.57 AM.png](https://images.zenhubusercontent.com/5b6de3fda32a4f476097b0be/2d9dbc04-5410-479e-8a97-c0ccd2e8379e)

Save changes to Collection - Thumbnail resets to "Undefined"
![Screen Shot 2019-10-15 at 10.08.07 AM.png

[2019-10-15 15:41] eporter23 commented on #674
Testing update: I was able to download the original TIF file in the UI, though the image still does not display in the viewer.

[2019-10-15 16:54] devanshu-m commented on #631
start before: https://github.com/samvera/hyrax/blob/i18n-3.0.0-beta1/app/jobs/characterize_job.rb#L12

end after: https://github.com/samvera/hyrax/blob/i18n-3.0.0-beta1/app/jobs/characterize_job.rb#L16

[2019-10-17 13:20] eporter23 commented on #442
@alexBLR I have noted some [test revisions here](https://drive.google.com/file/d/1OpPju3au4vpPAM3YxSf5nXs1By9OSKFs/view?usp=sharing) - we may want to regroup on the requirements and if this needs more breakout of tickets.

[2019-10-17 13:54] eporter23 opened #681 "Display Preferred Image on View Work Page"
Further splits out the display of preferred image logic for the Universal Viewer and thumbnails on the View Work page.

- [x] Change manifest generation to use the preferred image from #942

See [mockup for View Work display](https://docs.google.com/drawings/d/1Hl01D-ITNFkDhdnlCNRRZrGCTYvrdzFCcASZ7Etg1rY/edit?usp=sharing)

See also:
Original ticket from DCE co-sprint: #411
FileSet work developed i

[2019-10-17 14:57] SolomonHD commented on #646
Update: I've created a role that will mass tag objects. It's at https://github.com/emory-libraries/emorylib_role_s3_batch_operations/branches

Right now the role will tag every object in a bucket. There is another batch operation for copying things from one bucket to another bucket (even in another region), which I believe will be useful but I'm having issues getting it to work.

The batch operati

[2019-10-17 14:57] SolomonHD commented on #646
I'm also still working on the lifecycle role, this role will mass delete tagged objects in s3.

[2019-10-17 16:15] eporter23 commented on #633
@alexBLR more detailed examples for Virus Check event output here: https://docs.google.com/document/d/1O_Ut_j8ZAf9WdMGOUNwreM-WVEZ04rKictnUWg3-BLA/edit?usp=sharing

[2019-10-17 16:16] eporter23 commented on #630
@zo more detailed examples of possible Work Creation outputs here: https://docs.google.com/document/d/1O_Ut_j8ZAf9WdMGOUNwreM-WVEZ04rKictnUWg3-BLA/edit#

[2019-10-17 16:17] eporter23 commented on #631
@wulman16 more detailed example outputs for characterization related events here: https://docs.google.com/document/d/1O_Ut_j8ZAf9WdMGOUNwreM-WVEZ04rKictnUWg3-BLA/edit#

[2019-10-17 16:50] #634 closed

[2019-10-17 16:52] eporter23 opened #682 "Replication Event - revised output details"
Building on #634, adjust output as follows:

[ Sample output for Replication Event](https://docs.google.com/document/d/1O_Ut_j8ZAf9WdMGOUNwreM-WVEZ04rKictnUWg3-BLA/edit#heading=h.ybxs2aykd56b)

[2019-10-17 21:10] eporter23 opened #684 "Test revisions for 442 - Display Preferred image on FileSets"
[Test revision notes here](https://docs.google.com/document/d/1FRSSZNUwGQxkAn9oi90A_Stu7pZ7ZrWVrJYDrvPawmc/edit#):
Please restore the original Download functionality from the View FileSet page, so that the link says "Download" and the link to download points to the Preservation Master File (not to one of the additional files).

![Screen Shot 2019-10-18 at 11.21.03 AM.png](https://images.zenhubuser

[2019-10-18 12:22] tmiles2 commented on #618
@mprefer Could you provide some details as to why the issue is back in the blocked column?

[2019-10-18 12:24] tmiles2 commented on #442
@alexBLR are you moving this issue back in to progress to address the revisions or breaking it out into additional issues?

[2019-10-18 16:01] rotated8 opened #685 "Update preservation event log creation"
- [x] Change method signature to only include the object the event is being attached to, and a hash of all the event details.
- [x] Update existing implementations to use the new signature
- [x] Remove any Rubocop exceptions related to the method signature.

[2019-10-21 07:42] mprefer commented on #618
Seems useless to even attempt to evaluate Cantaloupe performances until Cantaloupe is functioning properly

[2019-10-22 16:56] tmiles2 commented on #674
@mprefer do you have an update on this issue?

[2019-10-22 16:56] tmiles2 commented on #644
@mprefer Have you started this issue?

[2019-10-22 21:28] mprefer commented on #674
S3 is returning a 404 (File not found) HTTP error. May need assistance in deciphering how Hyrax maps file names to internal names(?) when generating the URL for IIIF server.
Cantaloupe log entries can be found in Box at this URL:

https://emory.app.box.com/file/544367119341

[2019-10-24 00:59] #76 closed

[2019-10-25 17:08] tmiles2 commented on #644
@mprefer Do you have an update on the progress of this work?

[2019-10-28 12:38] tmiles2 commented on #621
Per Zach Cox:
Currently the Backup service has been approved and is awaiting deployment for the next deployment window/cycle. Please stay tuned to the latest email updates from the AWS at Emory service team for the announcements!

[2019-10-28 12:38] tmiles2 commented on #621
Per Paul Petersen:
We are planning to enable the AWS Backup service on Thursday, October 31st between 5-7pm.

[2019-10-28 14:25] devanshu-m commented on #632
Update: SE team will discuss where to log this event (on the file or fileset)

[2019-10-28 14:30] #621 closed

[2019-10-28 14:51] eporter23 commented on #442
See revision ticket #684. Will also create a new ticket for the View Work page behavior

[2019-10-28 14:51] #442 closed

[2019-10-28 15:03] devanshu-m commented on #669
@eporter23 https://github.com/emory-libraries/dlp-curate/blob/master/config/collection_metadata/collections.csv

[2019-10-28 16:40] eporter23 opened #695 "Load to prod - Langmuir batch 1"
Load the processed CSV into the Bulk Import UI (see #792)
Coordinate with DevOps, DCE if needed for troubleshooting

[2019-10-28 16:41] eporter23 opened #696 "Load to prod - Langmuir batch 2"
Split the processed CSV into smaller sets for overnight loads

- [x] 2.1
- [x] 2.2
- [x] 2.3

Load the processed CSV into the Bulk Import UI (see #792)
Coordinate with DevOps, DCE if needed for troubleshooting

[2019-10-28 16:42] eporter23 opened #697 "Load to prod - Langmuir batch 3"
Coordinate how to run DCE rake task
[Load final batch 2 CSV file](https://github.com/emory-libraries/cor-data-transfer/blob/master/curate-ingests/2019/in_development/langmuir/langmuir_batch3.csv)

Update "marbl" email address?

Fix errors in batch:
Invalid sensitive_material in row 484: y
Invalid sensitive_material in row 487: y
Invalid sensitive_material in row 3855: y

[2019-10-28 16:44] eporter23 opened #698 "Load to prod - Langmuir batch 3"
Coordinate how to run DCE rake task
Load [final batch 3 CSV file](https://github.com/emory-libraries/cor-data-transfer/blob/master/curate-ingests/2019/in_development/langmuir/langmuir_batch3.csv)

[2019-10-28 16:45] eporter23 opened #699 "Load to prod - Langmuir batch 4"
Coordinate how to run DCE rake task
Load [final batch 4 CSV file](https://github.com/emory-libraries/cor-data-transfer/blob/master/curate-ingests/2019/in_development/langmuir/langmuir_batch4.csv)

[2019-10-28 16:46] eporter23 opened #700 "Load to prod - Langmuir batch 5"
Coordinate how to run DCE rake task
[Load final batch 5 CSV file](https://github.com/emory-libraries/cor-data-transfer/blob/master/curate-ingests/2019/in_development/langmuir/langmuir_batch5.csv)

[2019-10-28 16:49] eporter23 opened #701 "Run importer rake task for Yellowbacks"
Use [DCE's book importer rake task](https://wiki.service.emory.edu/pages/viewpage.action?pageId=161546595) to process:

- [ ] Determine if CSV needs to be split into batches

- [x] [Pull list CSV - LSDI items](https://github.com/emory-libraries/cor-data-transfer/blob/master/curate-ingests/2019/in_development/yellowbacks/yellowbacks_Curate_lsdi.csv)
- [x] [Pull list CSV - LSDI2 items](https://githu

[2019-10-28 16:50] eporter23 opened #702 "Run importer rake task on Kirtas Yearbooks"
Most of the Yearbooks follow the same pattern as the Yellowbacks. Use [DCE's book importer rake task](https://wiki.service.emory.edu/pages/viewpage.action?pageId=161546595) to process:

- [x] [Pull list CSV for Kirtas yearbooks](https://github.com/emory-libraries/cor-data-transfer/blob/master/curate-ingests/2019/in_development/yearbooks/EU-Yearbooks-Curate-Kirtas.csv)
- [x] [Alma records for Yearb

[2019-10-28 16:52] eporter23 opened #703 "Run importer rake task on Oxford LIMB yearbooks"
Use [DCE's book importer rake task](https://wiki.service.emory.edu/pages/viewpage.action?pageId=161546595) to process:

- [ ] [Pull list CSV for Oxford yearbooks](https://github.com/emory-libraries/cor-data-transfer/blob/master/curate-ingests/2019/in_development/yearbooks/Yearbooks-Oxford-Curate-LIMB.csv)
- [ ] [Alma records for Yearbooks](https://github.com/emory-libraries/cor-data-transfer/blob/

[2019-10-28 18:07] #685 closed

[2019-10-28 18:18] devanshu-m commented on #632
Solutions to try:
1) Get parent (fileset) from file
2) Pass fileset.id

[2019-10-28 18:42] wulman16 commented on #631
I'm revising my code to use the newly defined `create_preservation_event` method, which now takes in a hash: https://github.com/emory-libraries/dlp-curate/commit/b658061b5a054ae85938554bc30ae077f65f2575

[2019-10-29 13:22] eporter23 commented on #669
@devanshu-m here's an [updated CSV:](https://github.com/emory-libraries/cor-data-transfer/blob/master/curate-ingests/curate-generate-tasks/collections.csv)

[2019-10-29 14:23] wulman16 commented on #665
We're implementing the first option, so each collection in the CSV will have a `deduplication_key` field.

[2019-10-29 16:30] SolomonHD commented on #646
The S3 error rate issue remains, Also we're running into what I believe is the same issue with mass ingest job into curate-test, it's giving us errors with 403 access denied there as well.

I've reached out to Cloud engineer Chris Riddle for help, he may be able to arrange a meeting with an AWS representative tomorrow.

[2019-10-29 16:31] rotated8 opened #705 "Arch Fedora: Ldp::BadRequest: RDF Stream contains subject(s) not in the domain of this repository."
When creating the default AdminSet in Arch, the task fails with the following error:

`Ldp::BadRequest: RDF Stream contains subject(s) (https://<arch-fedora-url>/fcrepo/rest/prod/ad/mi/n_/se/admin_set/default) not in the domain of this repository.`

Two search results turn up, the first is to a Fedora [development ticket](https://jira.duraspace.org/browse/FCREPO-2379), which seems unrelated, and t

[2019-10-29 16:34] rotated8 commented on #705
This ticket will be resolved when you can run `RAILS_ENV=production bundle exec rails hyrax:default_admin_set:create` from the current release dir, and the command does not produce an error.

[2019-10-29 16:40] SolomonHD commented on #705
I've seen this error before somewhere, I believe it's related to the s3 issues we've been having. I would have to search cloudwatch to confirm

[2019-10-29 17:47] devanshu-m commented on #632
Solution implemented:
* Getting file_set ID by slicing first 14 characters from object (file) ID
* Then, finding the file_set and passing that file_set to the create_preservation_event method along with event hash

[2019-10-29 19:19] devanshu-m commented on #669
Solution to implement:
* Overwrite existing csv for collections generations
* Make sure tests still pass and write additional tests if necessary
* Make sure duplication does not occur on production

[2019-10-30 16:54] eporter23 opened #711 "Restore admin access to Kathryn"
Kathryn Michaelis is supposed to be in the Admin group for Curate, and was previously, but at some point has recently lost her access.

[2019-10-31 14:56] SolomonHD commented on #645
This role can't been done until AWS Backup service is enabled for our account. That should be happening today.

[2019-10-31 15:00] SolomonHD opened #712 "Test out AWS Backup Service Functionality"
AWS Backup will be enabled 10/31 at 7PM

- [x] Test out the EFS functionality of the service
- [x] Generate and mount a backup EFS volume on another EFS volume.

[2019-10-31 17:40] devanshu-m commented on #624
Task 1 findings:
Fixity checking is performed on the following:
1) All file-types in the fileset (refer: https://github.com/samvera/hyrax/blob/master/app/services/hyrax/file_set_fixity_check_service.rb#L58)
2) All versions of a given file (refer: https://github.com/samvera/hyrax/blob/master/app/services/hyrax/file_set_fixity_check_service.rb#L76)

![image.png](https://images.zenhubusercontent.com/

[2019-10-31 19:39] #624 closed

[2019-10-31 19:39] devanshu-m commented on #627
Investigation in #624

[2019-11-01 14:41] #665 closed

[2019-11-01 17:07] eporter23 opened #713 "NoMethodError in Hyrax::CurateGenericWorks#show"
Environment: Curate Production/Test

I'm unable to open The Slaves of Paris work, which is a parent work with two children. Curate returns

![Screen Shot 2019-11-01 at 1.06.39 PM.png](https://images.zenhubusercontent.com/5b6de3fda32a4f476097b0be/0c82f12f-865e-4a14-b793-a38060f25337)

I am also seeing this error when clicking on Edit File from a view FileSet page - noted in #684

[2019-11-01 18:32] eporter23 commented on #619
Tiffany and I completed testing on 11/1 - seeing some anomalies with the repository_manager group not being able to edit all works in the collection (understanding that the timing of the group assignment impacts which works can be edited). We will need to re-test this after the prod wipe and reset, ensuring that all all the groups are assigned to all collections at the same time.

[2019-11-01 18:32] #619 closed

[2019-11-01 18:41] eporter23 opened #714 "Re-test Permission Groups after prod reset"
We experienced some unexpected behavior with the repository_manager group testing, need to re-test a regeneration of the Collections in production with all the groups assigned at the same time.

[2019-11-01 18:56] eporter23 commented on #19
Moving this to an enhancement. We are manually prepending "alma:" to system_of_record_ID in CSV import columns.

[2019-11-01 18:59] SolomonHD commented on #705
Issue was fixed by changing the FEDORA_URL environment variable from https:// to http://
The ELB is formatted correctly to route https to fedora-arch, something about hyrax isn't liking the https. I'll just leave it as http for now.

[2019-11-01 18:59] #705 closed

[2019-11-01 19:00] SolomonHD commented on #712
AWS Backup service has been enabled on our aws@emory account

[2019-11-04 14:02] eporter23 opened #716 "Curate date/timestamps incorrect (wrong timezone?)"
I was uploading some test objects last night, 11/3, around 7:30 pm and Curate prod was showing them as being created on 11/4. I assume that our timezone is incorrect somewhere.

[2019-11-04 15:25] eporter23 commented on #716
Discussed in 11/4/ meeting: Hyrax/Fedora will store the dates as UTC. So, we will need to convert these dates for display purposes.

[2019-11-04 15:28] #404 closed

[2019-11-04 15:49] SolomonHD commented on #711
Kathryn's access has been restored.

![image](https://user-images.githubusercontent.com/10504925/68134921-ce676700-fef0-11e9-88d3-f16b6f60feeb.png)

[2019-11-04 15:49] #711 closed

[2019-11-04 15:54] eporter23 opened #717 "Apply preferred image logic to generate thumbnails used by Hyrax at ingest"
Look at options to make sure Hyrax/Curate generates its thumbnail(s) for works/FileSets based on our preferred image logic from #411. These thumbs should then be available as needed within Hyrax and Lux displays

View/Edit FileSet thumbnail
View Work - Items thumbnail
Search results thumbnails

[2019-11-04 15:59] eporter23 opened #718 "Investigate options to deliver preferred image to Universal/IIIF viewers"
Pre-work for any implementation #681

To confirm: if this is pre-migrate task or not

[2019-11-04 16:49] SolomonHD commented on #657
Update: I've been researching this problem the last few days and while I haven't solved it, there has been progress.

1. Iniitial problem was the curate app was not ever giving the 'Files Uploaded' message with larger files
  This was solved by pointing the environment variables responsible for the temporary upload space (UPLOAD_PATH, WORKING_PATH, CACHE_PATH) to local EBS storage instead of EFS,

[2019-11-04 17:49] eporter23 commented on #714
Testing on 11/4, note that we should always make sure to use the Deposit New Work Through This Collection option to ensure the groups are assigned properly. If you create a work and then assign it to the Collection, it may not receive the groups correctly.

[2019-11-04 21:13] #684 closed

[2019-11-04 21:28] devanshu-m commented on #718
@rotated8 @alexBLR @eporter23

Findings:
* I don't think we need to do anything as part of the ingest process in order to show a preferred file_type in the universal viewer.
* Logic for selecting the preferred file will probably live here (when implemented): https://github.com/samvera/hyrax/blob/i18n-3.0.0-beta1/app/presenters/hyrax/displays_image.rb#L15
* Implementation ticket can be completed po

[2019-11-05 18:29] devanshu-m commented on #324
@eporter23 when we say change/replace an existing file in the fileset, are we talking about versioning or is that separate that we will talk about in the future? I am not exactly sure what it means to change/replace.

[2019-11-05 18:33] devanshu-m commented on #324
Notes:
* Starting to first work on creating a new tab in the fileset edit form that shows the existing files with options to upload files (maybe change or replace? not sure on that yet). Looking at the mockup provided in this ticket.
* Might need an update action in the uploads_controller or re-use the create action
* Hoping to create a new db record with new files when updating files in a fileset

[2019-11-05 21:51] eporter23 commented on #324
More notes after discussing with Devanshu:
-  For preservation master files, if we need to make a change to that file, that should be treated as a version (replacement, not a deletion and creation). The PMF should not be deleted. Also, Versioning (with a capital v) will be a much larger feature in v.2+ of Curate, where we may need to version the entire work. If we can leverage existing file-level

[2019-11-06 13:55] eporter23 commented on #713
This appears to be resolved after 0.4.24

[2019-11-06 13:55] #713 closed

[2019-11-06 16:31] SolomonHD opened #725 "Test Fedora Compatibility with Versioning Enabled S3 Buckets"
Bess and I have discovered an bug when trying to import objects in an s3 versioning enabled bucket. The import job runs great the first time but throws 403 access denied errors when attempting to import the same objects again. Expected behavior is the the objects will be overwritten.

I suspect the issue is lack of sufficient permissions for the fedora users. It's possible that even with the right

[2019-11-06 16:32] SolomonHD commented on #725
I've just submitted the tickets for the creation of the new fedora users.
Prod: INC03259098
Test: INC03259104
Arch: INC03259105

[2019-11-06 18:07] devanshu-m commented on #324
After discussion with the SE team and Emily:
* I am going to try and implement the replace strategy (delete and add)

[2019-11-06 18:56] eporter23 opened #727 "Collection regeneration on curate-arch did not assign permission groups or current CSV metadata"
After -arch was rebuilt the week of 11/4, the 5 collections were re-generated, but are missing the following:

* Permission Groups for each collection
* Recently refreshed metadata from the collections CSV file

To confirm: what is the expected behavior when a re-build occurs?

[2019-11-06 21:44] SolomonHD commented on #646
Update: S3 issues have been resolved, the roles lacked sufficient permissions to access object versions, increasing the permissions of the roles fixed the issue and we can now reliability use batch operations copy function.

[2019-11-06 21:46] SolomonHD commented on #645
AWS Backup service has functionality to schedule daily backups of EFS mounts inside the console. It's probably better to use that than create a role for this feature.

[2019-11-06 21:46] #645 closed

[2019-11-07 14:31] mprefer commented on #644
Created bash scripts to extract index data from Solr and to post data to Solr.
Each is based on the host, port, and collection. Data is in CSV format.
Created ancillary utility scripts to perform various functions, but not critical the backup/restore process.
Created script to extract Solr configuration files from the Zookeeper "filesystem".
These need to be Ansiblized for automation purposes.

[2019-11-07 15:29] eporter23 commented on #615
Discussed with @rotated8 that this probably needs to be a separate form distinct from the Create Work process. I will update the mockups with some alternate ideas.

[2019-11-07 15:32] eporter23 opened #729 "Identify strategy to populate preservation workflow metadata to bulk-ingested works"
Placeholder ticket to be rewritten:

As part of content migrations, need to populate the Preservation Workflow Metadata supplied in the bulk ingest CSVs to the works that are created.

[2019-11-07 15:47] eporter23 commented on #491
Moving this to a later release to parallel Lux work development

[2019-11-07 15:49] eporter23 commented on #572
Removing from 0.4 because the PDF optimizations were not complete at this time.

[2019-11-07 15:51] eporter23 commented on #393
v.1 access control breakouts have been implemented by DCE; pending some re-labeling

[2019-11-07 18:12] eporter23 commented on #633
@alexBLR I've been looking around at works and FileSets I created after 11/5 (when 0.4.24 was released) but I don't see any Virus Check events getting logged. Are you seeing them in your development environment?

[2019-11-07 18:15] eporter23 commented on #630
@alexBLR I've been looking around at works I created after 11/5 (when 0.4.24 was released) but I don't see any work-level events getting attached in Fedora. Here is one that I created today for example: http://fedora-cor.library.emory.edu/fcrepo/rest/prod/03/43/r2/28/0343r2280v-cor

[2019-11-07 18:19] eporter23 commented on #635
@devanshu-m I have not found any work-level events getting attached in Fedora for works I created since 11/5 when 0.4.24 was released. Has this one been deployed?

[2019-11-07 18:24] devanshu-m commented on #635
@eporter23 It should be. Can you send me the link to the work?

[2019-11-07 18:27] eporter23 opened #730 "Test revision: Work-level events are not generated (630, 635)"
test environment: production

When testing the work-level events in #630, #635, I am unable to find any events attached to works that were created after the 0.4.24 release.

Example works:

http://fedora-cor.library.emory.edu/fcrepo/rest/prod/03/43/r2/28/0343r2280v-cor

http://fedora-cor.library.emory.edu/fcrepo/rest/prod/71/39/05/qf/713905qfvp-cor

[2019-11-07 18:30] eporter23 opened #731 "Test revision: Virus Check events not being generated"
Test environment: production

For FileSets created after 11/5/19 (after 0.4.24), I am not able to find any Virus Check events getting generated.

Examples:
http://fedora-cor.library.emory.edu/fcrepo/rest/prod/02/3v/t4/b8/023vt4b8h9-cor#nested_g70271941020040

http://fedora-cor.library.emory.edu/fcrepo/rest/prod/32/0s/qv/9s/320sqv9s5h-cor

[2019-11-07 18:42] #275 closed

[2019-11-07 18:42] eporter23 commented on #275
Some additional testing will be needed when we wipe and restore production, but initial configurations and testing are complete.

[2019-11-07 21:17] eporter23 opened #732 "Reduce EBS allocation when migration jobs are done"
We ran short on EBS volume space on arch during the Langmuir batch 5 load, so we increased it. We will need to periodically increase these allocations when migrations occur and then decrease when they are complete, because we pay for the allocations regardless of usage.

[2019-11-08 12:19] tmiles2 commented on #712
@SolomonHD What's the next steps to finish out the work, all the tasks are checked?

[2019-11-08 14:06] #669 closed

[2019-11-08 14:06] eporter23 commented on #669
@devanshu-m closing this because we confirmed the work is complete, but please see #727 - the last rebuild of arch did not assign the group permissions to the collections.

[2019-11-08 15:10] eporter23 opened #733 "Migrate Kobe Collection"
## Story
As a Collection Manager, I want to ingest the Kobe artifacts digital collection, so that I can provide long-term access to the material in a preservation repository

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

#### Notes
Add notes here

#### Links to Additional Information
Kobe migration strategy document
General acceptance criteria f

[2019-11-08 15:13] eporter23 opened #734 "Migrate Medical Artifacts Collection"
## Story
As a Collection Manager, I want to ingest the Medical Artifacts digital collection, so that I can provide long-term access to the material in a preservation repository

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

#### Notes
Add notes here

#### Links to Additional Information
Medical Artifacts migration strategy document
General accep

[2019-11-08 15:28] eporter23 commented on #360
Looks great!

[2019-11-08 15:28] #360 closed

[2019-11-08 15:30] #632 closed

[2019-11-08 16:57] eporter23 opened #735 "Add filename(s) to FileSet eventDetails"
For some events like Replication, there are multiple log entries attached to the FileSet. In other cases, the event is only happening on the Preservation Master File, but for posterity, it would be good to indicate that. It would be helpful for all FileSet-level events to show the filename for which the event is being logged.

This could be added to the event detail entry. Examples:

Applicable ev

[2019-11-08 17:14] eporter23 opened #736 "Test revision: Replication event log"
For the Replication event, please call the eventType simply "Replication" as noted in the [sample event outputs document](https://docs.google.com/document/d/1O_Ut_j8ZAf9WdMGOUNwreM-WVEZ04rKictnUWg3-BLA/edit#heading=h.ybxs2aykd56b).

Current:
ns010: eventType
Replication (FileSet created)

Requested:
ns010: eventType
Replication

Also, please see ticket #735 to add the individual filename to the Re

[2019-11-08 17:17] eporter23 commented on #682
@devanshu-m this looks good! I requested some minor revisions in ticket #736 but I will close this to note that the work is done.

[2019-11-08 17:17] #682 closed

[2019-11-08 17:26] eporter23 opened #737 "Testing revisions for 631: Characterization event"
Please adjust the eventDetails output to indicate the type of metadata extracted (Technical Metadata) as noted in the [Sample Event outputs document for Metadata Extraction](https://docs.google.com/document/d/1O_Ut_j8ZAf9WdMGOUNwreM-WVEZ04rKictnUWg3-BLA/edit#heading=h.6a2lpfkuj738).

Current output
ns010: eventDetails
Metadata extracted, format identified, and file validated

Revised output
ns010:

[2019-11-08 17:29] eporter23 commented on #631
@wulman16 this looks good! I noted some hopefully minor revision requests in #737. I'll close this ticket to reflect the initial work being completed.

[2019-11-08 17:29] #631 closed

[2019-11-08 18:02] #386 closed

[2019-11-08 19:37] eporter23 opened #738 "Alma output adjustments for book records"
Request adjustments from Core Systems team for the DLP publishing job from Alma:

- [ ] Remove GEU subfield from 7XX in publishing job (710 $5) e.g. `710 2  a| Emory University Archives. 5| GEU`
- [x] Check XML source file for improper ampersands
- [x] Call numbers/genres missing in Yearbooks? [update: this is the case in the original records, not a processor issue]

Title mapping: the Alma export

[2019-11-11 15:24] #630 closed

[2019-11-11 15:24] #635 closed

[2019-11-11 15:30] eporter23 commented on #618
removing pre-migrate label because our schedule requires that we move forward with data loads

[2019-11-11 15:42] #674 closed

[2019-11-11 16:10] #712 closed

[2019-11-11 16:37] eporter23 commented on #618
Moving into 0.5 release because we don't know how long this may take to complete relative to other 0.4 items

[2019-11-11 16:37] eporter23 commented on #321
Moving into 0.5 release because we don't know how long this may take to complete relative to other 0.4 items

[2019-11-11 16:38] eporter23 commented on #629
@tmiles2 @SolomonHD @rotated8 can we close this? I think there will be tickets on the Lux board to reflect this.

[2019-11-11 17:46] eporter23 opened #739 "Backup and restoration procedures"
## Story
As a Repository Administrator, I want to implement backup and restoration procedures for the preservation repository's data, so that the Libraries have a functional procedure for recovering from potential data loss

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

#### Notes
This epic collects multiple tickets in progress by the DevOps tea

[2019-11-11 18:45] SolomonHD opened #741 "Ensure that ClamAV is working"
Currently the ansible scripts that build curate are installing ClamAV but we don't know if the service is working with hyrax or not

- [x] Check if curate is configured to use ClamAV
- [ ] Test to see if ClamAV will detect a virus signature (via false positive test)

[2019-11-11 21:31] #219 closed

[2019-11-11 21:38] #21 closed

[2019-11-11 21:51] eporter23 opened #742 "Preservation Health Reporting"
## Story
As a Repository Administrator or Preservation Curator, I want to receive preservation-focused updates on the overall repository, so that I can monitor trends in activity over time

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

#### Notes
Among the highest priority of the Discovery Phase reporting requirements were requests related to to

[2019-11-11 21:51] eporter23 opened #743 "Basic Repository Reporting"
## Story
As a Repository Administrator or Collection Manager, I want to monitor growth and other trends for the repository as a whole, so that I can share this information with Libraries leadership for ongoing preservation planning and budgeting

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

#### Notes
The Discovery Phase identified many reporti

[2019-11-11 21:53] eporter23 opened #744 "View Tombstone for Deleted/Decommissioned Works"
## Story
As a [user profile], I want [functionality], so that [business goal]

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

#### Notes
Add notes here

#### Links to Additional Information
Add [links](https://www.emory.edu/) here

#### Checklist
- [ ] Item 1
- [ ] Item 2

#### Given/When/Then
* Given (some context) and (some other optional conte

[2019-11-11 21:54] eporter23 opened #745 "Deletion Activities in Curate UI"
## Story
As a Collection Manager, I want to use a Deletion workflow interface, logging, and tombstone capabilities to delete a digital object or collection and record the circumstances for doing so, so that we align with Emory's approved Digital Preservation requirements and Emory Retention Policy

As a Library Deposit Supervisor, Collection Manager, Repository Administrator, I want to be able to

[2019-11-11 21:57] eporter23 opened #746 "View Preservation Summary/Status from Work Pages"
## Story
As a Collection Manager or Preservation Curator, I want to to see a snapshot of preservation workflows and events on my objects, so that I know routine preservation checks have occurred, and I am alerted to any event failures for the object or its component files

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

#### Notes
This epic revise

[2019-11-11 21:59] eporter23 opened #747 "View Preservation Event details for Works, FileSets"
## Story
As a Repository Administrator or Preservation Curator, I want to to see details of human or system-initiated preservation events and workflows that have occurred on the object, so that I know routine preservation checks have occurred, and so I can troubleshoot unwanted behavior in an object

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

[2019-11-11 22:08] eporter23 commented on #179
Much of this work was completed in 0.3: the QA form fields are generally permissive and allow for non-vocabulary terms to be entered.

[2019-11-12 14:19] eporter23 opened #748 "Facets/Enhanced Browsing in Curate"
## Story
As a Collection Manager or Metadata Specialist, I want to refine search results or browse for results using criteria I select, so that I can locate content more quickly in the repository

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

#### Notes
To confirm: should we use the same facets and labels to be utilized in Lux, or make a Curate-

[2019-11-12 15:05] eporter23 commented on #657
I re-tested a 1.4 GB PDF file that had previously failed to ingest, and it attached successfully, was characterized, checksummed, etc. I noticed that some of @SolomonHD 's large test files did not seem to have completed their checksum generation etc however so I want to test a few more large files across the environments.

[2019-11-12 17:26] eporter23 commented on #657
The large PDF I uploaded does not successfully download from Curate, so this needs further testing.

[2019-11-12 21:41] mark-dce opened #751 "Proposed visibility label and text changes"
Emily - Do the following highlighted changes accurately reflect changes we should make to visibility labels?

| Current label | New Label | Text Description |
|---|---|---|
| Public | Public | **_Public access with full resolution view & download_** |
| LowRes  | **_Public Low View_** | **_Public access with restricted resolution view-only_** |
| Emory Network | **_Emory High Download_** | **_Emor

[2019-11-12 21:47] SolomonHD commented on #725
We received our new set of fedora users and it appears to have resolved our 403 issue.

[2019-11-12 22:05] eporter23 commented on #751
@mark-dce looks good!

[2019-11-13 00:32] #751 closed

[2019-11-13 15:12] devanshu-m opened #754 "Enable virus-check"
- [x] Add clamav/clamby to application
- [x] Update spec

[2019-11-13 19:15] eporter23 opened #755 "Ingested files can be downloaded from Fedora, but not Curate"
In testing file uploads and the bulk importer tool, larger files (over 150MB) do not successfully complete downloads through the Curate UI, whereas they can be downloaded successfully from Fedora directly. When trying to download from Curate, the file download is incomplete or corrupted. Relates to #657.

Jan 2020 notes:

Examples noted in recent Curate Production ingests:

https://curate.library.

[2019-11-14 16:02] #637 closed

[2019-11-14 16:04] #657 closed

[2019-11-14 16:14] tmiles2 commented on #725
Pending follow up with Bess.

[2019-11-14 16:26] eporter23 commented on #637
@mark-dce @bess @little9 closing based on the batch 5 test in arch!

[2019-11-14 16:37] #287 closed

[2019-11-14 16:37] eporter23 commented on #287
Closing based on acceptance testing for Langmuir; additional work may be needed for non-Langmuir collections but that is beyond the scope of our work with DCE.

[2019-11-14 16:43] eporter23 commented on #291
Closing this epic based on acceptance testing for Langmuir batch 5 in curate-arch.

[2019-11-14 16:43] #291 closed

[2019-11-14 16:49] eporter23 commented on #273
Final testing is needed for assignment of collection permissions on objects. Unable to confirm with Langmuir batch, because curate-arch collections did not have correct permissions.

[2019-11-14 16:52] eporter23 commented on #739
Moving this work into 0.5 due to multiple AWS at Emory environment issues in October and November.

[2019-11-14 16:58] eporter23 commented on #657
Closing this, but new ticket #755 created to address the download problem.

[2019-11-14 18:43] mark-dce opened #758 "Yellowback files don't match expected naming pattern"
**ISSUE**
There are a number of yellowbacks that have inconsistent file naming compared to the expected pattern.  The pull list provides a directory path and file count and then the preprocessor builds a list of import files assuming we concatenate the path with the page number padded with '0's to four places - i.e. a filename that looks like this:
[code]
What we are seeing instead are files that

[2019-11-14 22:16] eporter23 commented on #391
See also this Hyrax bug for 3.x: https://github.com/samvera/hyrax/issues/4054

[2019-11-15 14:30] eporter23 commented on #357
@tmiles2 @SolomonHD can we close this one? This goes back to July.

[2019-11-15 14:50] tmiles2 commented on #357
@eporter23 I think so but I'll let @SolomonHD confirm.

[2019-11-15 15:14] #725 closed

[2019-11-15 15:20] #393 closed

[2019-11-15 15:26] eporter23 commented on #737
@wulman16 Looks good, thanks!

[2019-11-15 15:26] #737 closed

[2019-11-15 15:27] eporter23 commented on #250
This may require enhancement in the future as it is unclear what will trigger a failure.

[2019-11-15 15:27] #250 closed

[2019-11-15 15:30] #205 closed

[2019-11-15 15:33] eporter23 commented on #252
For implementation purposes, Format Identification, Format Validation, and Technical Metadata extraction were combined into a single event log called Characterization.

[2019-11-15 15:33] #252 closed

[2019-11-15 15:46] devanshu-m commented on #754
This is blocked because we believe clamscan (ClamAV's virus scanning utility) might not be installed on the servers. Work needed in the application is however ready (refer #764).

[2019-11-15 16:13] eporter23 opened #767 "Test revisions for work-level events (630, 635)"
Validation - see [Event Testing Notes](https://docs.google.com/document/d/1VtVv33qBSVQFJOzr6YlieplOJD3N8WMvM-7NxtjVfZA/edit#heading=h.s57msgxj2u6a) and [Sample Events outputs](https://docs.google.com/document/d/1O_Ut_j8ZAf9WdMGOUNwreM-WVEZ04rKictnUWg3-BLA/edit#heading=h.llukvaexhur)
- [x] Change eventType to be only "Validation"
- [x] Adjust eventDetails text to say "Submission package validated'

[2019-11-15 16:18] eporter23 commented on #730
@devanshu-m @alexBLR I can see the work events being created now. Closing this ticket, but please note #767 which has some test revisions for those.

[2019-11-15 16:18] #730 closed

[2019-11-18 15:47] wulman16 commented on #616
The work for this ticket is done except for the automated test. I've attempted mocking the characterization service response in the spec with little success. The next step would probably be to try mocking the Solr document itself. There are a couple of examples in the Hyrax spec, such as:
https://github.com/samvera/hyrax/blob/v3.0.0.pre.beta1/spec/views/hyrax/file_sets/show.html.erb_spec.rb
https:

[2019-11-18 16:30] devanshu-m commented on #735
@eporter23 Virus checking, message digest calculation, and characterization only happen on the PMF for now. So, do we need filenames for them?
Also, for replication, I guess we need to discuss where the event actually happens.
This issue seems to be blocked/needs more information. Moving it to blocked for now.

[2019-11-18 17:31] eporter23 commented on #735
@devanshu-m I'll look at the eventDetails outputs for each of these. It could be that we add a generic "preservation master file" note, or it could also be something I handle through documentation and training.   I agree that we should discuss more about the Replication event in particular.

[2019-11-18 17:56] eporter23 commented on #736
@devanshu-m @rotated8 if we are not able to determine that a file has been persisted to S3, can we at least log an event for each file, including its filename, that indicates a file has been _submitted_ to Fedora?

If so, perhaps we could re-label this event as "File Submission". If this seems like a better way to close out this ticket for now (true Replication is beyond the scope of v.1 anyway) I

[2019-11-18 20:21] wulman16 opened #770 "Create automated test for displaying technical metadata on view fileset page"
The work in #750 is complete but lacks test coverage. See #616 for the original requirements and where work on the spec was left off.

[2019-11-18 20:57] devanshu-m commented on #767
@eporter23
notes:
* It might be difficult to figure out what created the work - ui or importer. Removing metadata extraction event.

[2019-11-18 21:21] eporter23 commented on #736
@devanshu-m  Here is an example of a [File Submission](https://docs.google.com/document/d/1O_Ut_j8ZAf9WdMGOUNwreM-WVEZ04rKictnUWg3-BLA/edit#) event if needed.

[2019-11-18 21:31] eporter23 commented on #735
@devanshu-m I added some eventDetail outputs. I decided not to add anything for Message Digest Calculation because that already has a lot of detail in it.

[2019-11-19 17:30] eporter23 opened #776 "Thumbnails do not generate for PDFs"
For works whose primary and representative media is a PDF, thumbnails are not generated; we only see the default placeholder icon.

![Screen Shot 2019-11-19 at 12.30.24 PM.png](https://images.zenhubusercontent.com/5b6de3fda32a4f476097b0be/16d37144-3dbd-493a-94d5-1d3b7e0bb0c2)

- [x] Install LibreOffice with GhostScript on Arch
- [x] Install on Prod
- [x] Install on Test

[2019-11-19 17:57] mark-dce commented on #758
I'm also noticing that there are 2 works with inconsistent folder structure in the pull list.  We can update the preprocessor code to accommodate these, but it's probably 16-20 hours of work, or we could copy/move files into the expected locations which is probably about 15 minutes work.

| File Type| Current Location | Expected Location |
|----------|-----------------|--------------------|
| | |

[2019-11-19 18:57] devanshu-m commented on #735
@eporter23
notes:
* Virus check will be completed with the virus-check event ticket (#731) since work for this event creation is currently blocked.
* Replication will be completed with the replication ticket (#736) since it requires revision related to where the event is created.

[2019-11-20 19:43] #254 closed

[2019-11-20 20:42] eporter23 opened #778 "Add Migration Team members to selected Manager-level groups"
Kyle Fenton and Simon O'Riordan currently have depositor-level permissions for multiple Collections, but need to be added to the following manager-level groups in order to perform QA testing (because they cannot see all the objects created by bulk-import):

- [x] Oxford Managers
- [x] Rose Managers
- [x] Health Sciences Managers

Additionally, we can remove the following users who no longer work a

[2019-11-21 14:21] eporter23 commented on #623
Removing the pre-migrate label because we don't have time to complete this prior to migrations starting.

[2019-11-21 14:40] eporter23 opened #780 "Investigate if Kobe, Medical Artifacts can be bulk-imported"
We need to determine if additional work must be done to extend the Langmuir importer so that we can migrate the other two image collections, Kobe and Medical Artifacts. The Langmuir pre-processor rake task is optimized for that specific collection, which has some differences from Langmuir.

Kobe and Medical Artifacts only have a preservation master file, and they do not have fronts/backs. Their Fi

[2019-11-21 15:04] eporter23 commented on #633
@alexBLR @devanshu-m @tmiles2 this issue got closed, but I have never actually gotten to test it, and we have some tickets currently blocked related to this. I'm reopening it because the related epics needs to get closed out.

[2019-11-21 15:10] tmiles2 commented on #646
@SolomonHD Can we get an update on this in ticket?

[2019-11-21 15:11] tmiles2 commented on #741
@SolomonHD Is there an update on the progress of this, target completion date is tomorrow?

[2019-11-21 19:23] eporter23 commented on #616
@wulman16 looks good! I also observed that the extended technical metadata displays on new works created after the deployment, so I'm glad we got this in before migrations are underway.

[2019-11-21 19:23] #616 closed

[2019-11-21 19:31] SolomonHD commented on #741
Still haven't configured the new role yet; will experiment this afternoon

[2019-11-21 20:51] devanshu-m commented on #736
@eporter23 screenshots in PR #781

[2019-11-21 21:25] eporter23 opened #782 "Re-index works to show extended technical metadata (Curate-test)"
In testing #616 (showing all available technical metadata on a FileSet page), the extended metadata was only showing up for newly created works' FileSets. We should test a re-index of one of our environments to see what happens for existing FileSets.

[2019-11-21 21:44] eporter23 commented on #735
Characterization looks great. I will test the other two in their respective tickets.

[2019-11-21 21:44] #735 closed

[2019-11-21 21:49] eporter23 commented on #767
Policy assignment looks good (much more informative now). There is still one more minor change to address for the revised eventDetails text (removing the "Policy was assigned" part of the statement and only including the new text you have added). I'll write up another ticket but it is low priority.

[2019-11-21 21:49] #767 closed

[2019-11-21 21:53] eporter23 opened #783 "Revision ticket - eventDetails text for Policy Assignment"
This is very low priority, but revises the text to matches the [revised event sample outputs](https://docs.google.com/document/d/1O_Ut_j8ZAf9WdMGOUNwreM-WVEZ04rKictnUWg3-BLA/edit#heading=h.juxwhjivu8xe):

current output:
_Policy was assigned. Visibility/access controls assigned: restricted_

desired output:
_Visibility/access controls assigned: restricted_

[2019-11-21 21:54] eporter23 commented on #783
@devanshu-m very low priority revision.

[2019-11-21 22:57] SolomonHD commented on #741
Clamscan is enabled on curate-test

[2019-11-22 03:58] mprefer commented on #644
Created Ansible scripts to perform the following tasks:
  1) Make certain cURL is installed for use in making REST API calls to Solr.
  2) Extract Solr index data in CSV format or via the REST API that backs up the binary index files. Both are
  options and can both be utilized in a single backup.
  3) Compress a tarball of the all the files created in in step 2 and store in S3.
  4) Role to resto

[2019-11-22 11:34] tmiles2 opened #784 "Draft technical write for the Ansible role for s3 lifecycle tagging and delete by tag"
Related to #646

[2019-11-22 13:43] eporter23 commented on #572
Kyle has optimized the Yellowbacks PDFs and removed the blank page 1, which means we should get better thumbnails.

[2019-11-22 14:19] eporter23 commented on #572
@mprefer @tmiles2 I just heard from Kyle that he optimized all the Yellowbacks PDFs. This wasn't in our sprint goals, but if it's possible to get this file transfer started, that would be great. I will also target this for the next sprint.

[2019-11-22 14:22] mark-dce opened #785 "Fix Yellowback acceptance samples not matching expected naming conventions"
**ISSUE**
When running a test import, DCE discovered that 5 of the 27 sample Yellowbacks have unexpected prefixes in their filenames.  In the examples shown below, we would expect file to be named just `0001.tif`

[code]

See ticket #758 for addition background about file naming expectations.

**ACCEPTANCE**
Either
- [x] *PREFERRED* Update the file naming for the indicated volumes
OR
- [ ] Decide

[2019-11-22 16:51] mprefer commented on #785
Which environment are these in, PROD, TEST, or ARCH ?
Where in the filesystem are these "samples"?
Should ALL files meeting the error condition be renamed in the full Yellowback EFS file mount?

[2019-11-22 17:39] SolomonHD commented on #785
@mprefer This is files on the "import_efs" mnt, which is reachable from prod, test or arch at /mnt/import_efs/Collections/Yellowbacks/...

[2019-11-22 17:49] eporter23 commented on #785
@mprefer @SolomonHD please note this is a subset of work identified in #758 which I was going to target for next sprint. We have a small QA sample identified that DCE wants to load on Monday, which is noted in this ticket. The other ticket identifies a larger set of filenames to adjust.

[2019-11-22 19:36] mprefer commented on #785
The rename command on RHEL compatible distros does not accept regex expressions. Installed the yum package 'prename' which is a Perl script that does accept regex.

Moved the 5 files listed above. 2 of the files don't exist (lines 3 & 5 in above list)

[2019-11-22 19:42] mprefer commented on #758
Do we care about files with '_RAW' in the name?

[2019-11-22 19:43] mark-dce commented on #758
I don't think so, but I'm not sure because I hadn't noticed any.  Can you give a full filename and path example?

[2019-11-22 19:45] mprefer commented on #758
Here is 1 sample if seen:
./lsdi/diesel/lts_new/ocm22612785-2251_RAW/ocm22612785/Output/ocm22612785_0001.tif

[2019-11-22 20:07] eporter23 commented on #758
That does appear to be a valid base path listed in the pull list, but it only matters to remove the ocm22612785_ prefix within the /Output directory

[2019-11-22 20:08] mprefer commented on #758
OK, I'll fix those '_RAW' files as well.

[2019-11-22 20:21] eporter23 commented on #785
@mark-dce can you take a look?

[2019-11-25 15:24] #646 closed

[2019-11-25 15:46] eporter23 opened #791 "Implement method to bulk-import preservation workflow metadata"
For v.1 migrations, we need to import preservation workflow metadata for Accession and Ingest workflows. All bulk-imported CSVs should contain metadata for both.

When works are imported using DCE's bulk-importer, a deduplication key is assigned in the CSV and also is added to the work's metadata. This deduplication key field can also be used for us to match up the work in Curate to the Accession

[2019-11-25 16:01] eporter23 commented on #776
Discussed in sprint planning: we need LibreOffice with GhostScript

[2019-11-25 16:14] eporter23 opened #792 "Run DCE importer rake tasks for Langmuir"
For each batch load, we need to run DCE's pre-processor rake task to process the input CSVs so that they can then be loaded using the Import task through the Curate UI.

[DCE documentation on importer pre-processor rake tasks](https://wiki.service.emory.edu/pages/viewpage.action?pageId=161546595)
[Additional notes on pre-processor rake task testing](https://docs.google.com/document/d/1rDlLv-YrXHLZ

[2019-11-25 16:54] mprefer commented on #776
Installed 'LibreOffice' and 'ghostscript' yum packages from the 'base' yum repo on curate-arch & curate.

[2019-11-25 17:57] eporter23 commented on #791
I will update a sample CSV with improved column headings such as the following, where the workflowType is named, followed by a period:

![image.png](https://images.zenhubusercontent.com/5b6de3fda32a4f476097b0be/bb50bd6c-2e64-4dcb-a6e0-96d15646a63f)

[2019-11-25 19:39] eporter23 commented on #729
Closing as duplicate

[2019-11-25 19:39] #729 closed

[2019-11-25 21:19] mprefer commented on #572
Used 'rclone' to xfer the files listed in the spreadsheet from local on premise NFS storage to the EFS file system in the Curate environment.

Ran md5sum against the local on premise originals and the transferred file on EFS...all checksums match.

[2019-11-25 21:19] #572 closed

[2019-11-25 21:20] mprefer commented on #776
I would assume this issue can be closed, yes?

[2019-11-25 21:29] eporter23 commented on #776
@mprefer I agree, closing now that we have them on all 3 environments.

[2019-11-25 21:29] #776 closed

[2019-11-25 22:17] mprefer commented on #758
All the files created with the command <find . -name '*_0001.tif'> have been moved without the ocm* prefix and are now just '0001.tif'.

If I missed any, let me know.

[2019-11-26 13:39] SolomonHD commented on #741
Clamby is working on curate-arch. It let's non viruses through and detected the virus below. It may need some additional logic on what to do after a virus is detected.

![image.png](https://images.zenhubusercontent.com/5c191329a896da5d83d69955/7f5a2160-e6b5-44f9-8e5e-cb82a6b11bb7)

[2019-11-26 14:31] mprefer commented on #758
Moved the .PDF, .XML, .POS, .TXT, and .TIF files outline above from their subdirectories up one level into the Output directory.

[2019-11-26 17:42] eporter23 opened #795 "Revision ticket for 736 - eventDetails text"
Testing revision for #736. We revised the event to change from Replication to File Submission, for which I created a new event name and eventDetail output - the [revised sample has a different output text than Replication](https://docs.google.com/document/d/1O_Ut_j8ZAf9WdMGOUNwreM-WVEZ04rKictnUWg3-BLA/edit#heading=h.l7cr2k1mhzey) because we don't actually know that it is making it to S3.

**Curren

[2019-11-26 17:45] #736 closed

[2019-11-26 17:45] eporter23 commented on #736
@devanshu-m looks good; I will close this for the completed work but please see #795 revision ticket to update the eventDetail text to match the revised event sample noted in the comments for this ticket, since this is no longer truly a replication event.

[2019-11-26 17:58] eporter23 commented on #253
Closing - all the required events are being produced, but some are now in Ingest.

[2019-11-26 17:58] #253 closed

[2019-11-26 19:23] rotated8 opened #796 "Decide if we need S3 versioning"
Write an ADR (with the ADR template) explaining the decision we are about to make around S3 versioning.

[2019-11-26 19:26] rotated8 opened #797 "Reenable Cantaloupe on curate-arch"

[2019-11-26 21:15] eporter23 commented on #791
@devanshu-m I added some more acceptance criteria about only creating one instance of each workflow (there should never be two Accession workflows, etc.) - let me know if this isn't clear.

[2019-11-27 16:22] devanshu-m opened #799 "`Net::ReadTimeout` circle ci errors"
Notes:
* Low priority
* `Net::ReadTimeout` errors occur in ci during importer specs.

[2019-11-27 22:21] maxkadel opened #801 "FITS as a Servlet for faster ingest performance"
At DCE we have seen significant improvements in the performance of image ingest when FITS characterization is configured to run against a version of FITS that is installed as a servlet instead of as a standalone command line tool.

DCE recommends this as a general best practice, and we have written a guide here: https://curationexperts.github.io/playbook/every_project/fits.html

In order to do thi

[2019-12-03 03:29] SolomonHD commented on #741
I believe my role in this ticket is over, ClamAV and freshclam are installed and ready to go on all curates. Devanshu and Collin as still working on virus detecting logic, transferring this ticket to them,

[2019-12-03 05:09] SolomonHD commented on #321
Progress:
UCLA has updated their Cantaloupe delegate script and they've seemly designed it around fedora. Also they've added some sort of authorization logic.
https://raw.githubusercontent.com/UCLALibrary/cantaloupe-delegate/master/lib/delegates.rb

I've built a new cantaloupe for arch and I've experimented with the config and I believe I have it about right but there's a problem, the generated ur

[2019-12-03 14:32] eporter23 commented on #731
Confirmed - I can now see Virus Check events generated in 0.4.33

[2019-12-03 14:32] #731 closed

[2019-12-03 14:42] eporter23 opened #808 "Revision ticket for #633 Virus Check event"
For the Virus Check event, we should record the specific name and version of the software that Curate is using to do the virus scan (ClamAV, clamby, etc.). Right now it just says "Curate", but for preservation purposes, we want to record more specific detail. See [event sample output:](https://docs.google.com/document/d/1O_Ut_j8ZAf9WdMGOUNwreM-WVEZ04rKictnUWg3-BLA/edit#heading=h.ukd8c5v5xbhm)

Als

[2019-12-03 14:51] eporter23 commented on #633
Closing this because we can now see the event getting generated. I have noted some revisions in ticket #808.

[2019-12-03 14:51] #633 closed

[2019-12-03 14:52] eporter23 commented on #754
@devanshu-m I assume we can close this?

[2019-12-03 14:52] #754 closed

[2019-12-03 16:17] #741 closed

[2019-12-03 18:19] eporter23 commented on #808
Discussed at standup 12/3/19. The Virus Check event should indicate the specific file or files that it was run on (see ticket #735) but we can postpone making this change until we determine if we will be able to check all files or just the PMF.

[2019-12-04 14:04] #242 closed

[2019-12-04 18:53] eporter23 commented on #161
Do we want to rewrite this ticket?

[2019-12-04 20:16] eporter23 commented on #627
May need to break this out; one for cron job (5/13) and one for rake task (8/13)

[2019-12-04 20:20] eporter23 opened #813 "Spike: investigate fixity check reporting options"
Discussed in release planning 12/4/19

See [sample report mockup](https://emory.box.com/s/mp430wb7ginir4trkjyneijlro5q957l)

[2019-12-04 20:50] eporter23 commented on #698
closing - duplicate

[2019-12-04 20:50] #698 closed

[2019-12-04 20:56] eporter23 opened #814 "Load to prod - Yellowbacks"
Use the processed CSV(s) to load in one or more batches via the Zizia UI

[2019-12-04 20:58] eporter23 opened #815 "Load to prod - Kirtas yearbooks"
Use the processed CSV file(s) to load via the Zizia UI.

- [ ] Batches
- [ ] Fallout volumes

[2019-12-04 21:00] eporter23 opened #816 "Load to prod - LIMB yearbooks"
Includes Oxford and some re-digitized Emory Yearbooks
Use the processed CSV file(s) in the Zizia UI

- [x] Batches
- [ ] Fallout volumes

[2019-12-04 21:07] eporter23 commented on #701
Note: we should confirm if DCE's documentation is still up to date because the book importer work is still being finalized.

[2019-12-04 21:13] eporter23 commented on #703
Confirm pre-processor options for LIMB vs Kirtas outputs with DCE.

[2019-12-04 21:21] eporter23 opened #817 "Run preprocessor rake task on Emory University LIMB yearbooks"
Some of the Emory yearbooks were redigitized and use the LIMB output. Use [DCE's book importer rake task](https://wiki.service.emory.edu/pages/viewpage.action?pageId=161546595) to process:

- [ ] [Pull list CSV for Emory LIMB yearbooks](https://github.com/emory-libraries/cor-data-transfer/blob/master/curate-ingests/2019/in_development/yearbooks/EU-Yearbooks-Curate-LIMB.csv)
- [ ] [Alma records for

[2019-12-04 21:34] eporter23 opened #818 "Import preservation workflow metadata for Langmuir"
Run Emory's workflow MD importer rake task on the Langmuir collection:

- [x] batch 1
- [x] batch 2
- [x] batch 3
- [x] batch 4
- [x] batch 5 (in progress 10/27)

[2019-12-04 21:35] eporter23 opened #819 "Import preservation workflow metadata for Yellowbacks"
Add Preservation Workflow metadata columns to ingest CSVs - create a new works-only CSV for easier load that includes the required columns.

Starting with lsdi batch 19, we began ingesting books as Private, and then restoring the original visibility once they are fully ingested. Add this to the Ingest note.

Run Emory's workflow MD importer rake task on the Yellowbacks collection batches

[2019-12-04 21:36] eporter23 opened #820 "Import preservation workflow metadata for Yearbooks"
Run Emory's workflow MD importer rake task on the Yearbooks collection

Note: Some yearbooks CSV files don't contain these columns. need to copy them from other files.

[2019-12-05 15:24] eporter23 opened #822 "Fixity Checking on a schedule - Rake Task"
Create a rake task to run fixity checking:
* Rake task checks for objects that have not received a fixity check (initially within 3 months)
* Creates a list of objects to run checks on
* Initiate the fixity service on those objects
* Fixity service should be run asynchronously

Investigate:
See also investigation in #624
Plan to run fixity on all assets soon after migration (within 3 months)
See h

[2019-12-05 15:27] eporter23 commented on #822
Broke the rake task component out from a previous ticket; used the estimates discussed in release planning on 12/4.

[2019-12-05 15:31] #717 closed

[2019-12-05 15:32] #783 closed

[2019-12-05 15:34] #785 closed

[2019-12-05 15:34] eporter23 commented on #785
Closing this, noting that we will need to do larger tests on filenames and filepaths for all books; will open new tickets as needed to address.

[2019-12-05 15:34] eporter23 commented on #758
Closing this, noting that we will need to do larger tests on filenames and filepaths for all books; will open new tickets as needed to address.

[2019-12-05 15:34] #758 closed

[2019-12-05 16:18] #796 closed

[2019-12-05 18:04] #808 closed

[2019-12-05 18:05] #795 closed

[2019-12-05 18:07] eporter23 opened #824 "Test-run of sample Preservation Workflow Metadata import from CSV"
Try a sample run of the rake task developed in #791. We will run this task after collections begin to be loaded.

The following [small sample CSV](https://github.com/emory-libraries/cor-data-transfer/blob/master/curate-ingests/2019/processed/langmuir/langmuir_batch_raketest-processed-working.csv) can be run in curate-test.

[2019-12-05 18:09] eporter23 commented on #791
Closing; wrote a new ticket for doing a small test on this.

[2019-12-05 18:09] #791 closed

[2019-12-05 18:36] eporter23 commented on #717
@alexBLR looks great!!

[2019-12-05 19:49] #273 closed

[2019-12-05 19:52] #249 closed

[2019-12-05 19:55] #248 closed

[2019-12-06 14:31] eporter23 commented on #727
Closing because wipe and restore of curate-test on 12/6/19 *did* restore all the collection entities and the correct permission groups.

[2019-12-06 14:31] #727 closed

[2019-12-06 14:44] eporter23 commented on #799
@rotated8 is this one done (based on slack posts??

[2019-12-06 16:03] rotated8 commented on #799
No, we're skipping the tests at the moment. I'm maybe halfway through fixing the timeout.

[2019-12-06 16:12] eporter23 opened #833 "Review /Collections structure on file transfer EFS mount"
DCE has continued to identify file-related issues for books. In order to help troubleshoot filename and file path issues for the DCE book importer tool:

- [ ] Grant eporter at least read access to the AWS /mnt/import_efs/Collections space
- [ ] Establish best practices for the directory structures within /Collections (ADR?)

Background info:
For Yearbooks and Yellowbacks, we supply the importer t

[2019-12-06 17:24] rotated8 commented on #833
I think this can avoid an ADR, only because I don't think it's an architecture change. We should document the best practices, though.

[2019-12-06 20:19] eporter23 opened #834 "Run DCE rake task for Oxford yearbooks"
Run the DCE pre-processor rake task for Yearbooks on the Oxford yearbooks CSV. This collection uses the LIMB output.

[DCE rake task documentation](https://wiki.service.emory.edu/pages/viewpage.action?pageId=161546595)

- [x] Pre-processed [CSV for Oxford LIMB yearbooks](https://github.com/emory-libraries/cor-data-transfer/blob/master/curate-ingests/2019/in_development/yearbooks/Yearbooks-Oxford-C

[2019-12-09 14:35] mprefer commented on #541
Solomon and I reset Curate test to a pristine condition using manual methods.

[2019-12-09 15:12] eporter23 opened #836 "Curate - reset prod before data migrations"
Re-use the process for #541, apply to prod

Note: it may take up to 1.5 days for everything to complete

We need to switch over to treating production as a true production environment and no longer use it for testing.
- [x] DB is cleared out
- [x] Solr is cleared out
- [x] Fedora is cleared out
- [x] Redis is cleared out
- [x] tmp space is empty
- [x] S3 bucket is empty
- [x] Redeploy application

[2019-12-09 15:22] #797 closed

[2019-12-09 16:12] #541 closed

[2019-12-09 16:22] #833 closed

[2019-12-09 16:43] eporter23 commented on #833
Discussion outcome: as a best practice, we will copy all collections into the base /mnt/import_efs/Collections directory in AWS and not modify the legacy directory structure. File structures should typically begin as /mnt/import_efs/Collections/lsdi, /mnt/import_efs/Collections/lsdi2, /mnt/import_efs/Collections/dmfiles

[2019-12-09 17:34] wulman16 opened #837 "Index human-readable metadata fields"
https://docs.google.com/spreadsheets/d/1bODcf-cLwBNOv7UDtNE39M1OoRW93o6xRVDZMGX-eaQ/edit#gid=696928716

The Field Grouping sheet indicates which metadata fields must be indexed in a human-readable format for Lux. Based on the existing behavior in Curate, make the following changes:

**Make stored_searchable for Lux index**
- Issue (:issue)
- Grant/Funding Information (:grant_information_notes)

**

[2019-12-09 18:03] eporter23 opened #838 "Manual creation of second-copy of files in S3 region buckets"
This ticket follows work in which we had to undo S3 versioning. We now need an interim step to create a second copy of our repository files.

Second copy S3 bucket should be in a different region than the first copy.

[2019-12-09 18:06] eporter23 commented on #838
@SolomonHD noted doing this first as a manual process and later as an automated process

[2019-12-09 19:53] eporter23 commented on #837
@wulman16 @nikdragovic note that Persistent URL (formerly known as primary_repository_ID) is now more of a display field than a metadata field. For Lux this is the NOID value we mint in Curate, reformatted into a persistent URL pattern. We opted to not store the NOID in primary_repository_ID because it was already in SOLR and searchable.

[2019-12-09 20:44] devanshu-m commented on #625
Notes @eporter23 :
Task1: It might be easier to capture at file_set level like all other file_set level events. Capturing on work level might create a huge number of fixity_check events depending on the number of file_sets
Task2: Unsure of what it means. Seems like it is out of place or not part of this ticket.

[2019-12-10 20:01] eporter23 opened #840 "Automated/scheduled cross-region copy of S3 buckets"

[2019-12-10 20:18] wulman16 commented on #837
After discussion with @eporter23 and @nikdragovic, the only change to Curate that needs to be made for metadata *display* in Lux is adding a human-readable version of Rights Statement - Controlled to the Solr index. The changes for metadata *search* in Lux will be addressed in a separate ticket in Lux.

[2019-12-11 17:26] eporter23 opened #842 "Book page thumbnails not generating properly"
This issue has reappeared after the wipe and restore of Curate test and prod. We had resolved this previously in ticket #617 (upgrading ImageMagick)

See screenshot below:
![Screen Shot 2019-12-11 at 12.26.05 PM.png](https://images.zenhubusercontent.com/5b6de3fda32a4f476097b0be/ebeb02e4-108c-497a-84e2-c7fc3a252311)

[2019-12-11 17:27] rotated8 commented on #842
@eporter23 Can you add a link to this object?

[2019-12-11 18:06] devanshu-m commented on #625
Success event:

![image.png](https://images.zenhubusercontent.com/5c12bc2dd3542818d52aa3a0/46df23b6-ed62-4186-bd40-4377db3e3864)

[2019-12-11 18:28] eporter23 commented on #842
@rotated8 https://curate-test.library.emory.edu/concern/curate_generic_works/986b2rbp0f-cor?locale=en is the work which I just started loading today 12/11/19. Here is [one example FileSet](https://curate-test.library.emory.edu/concern/parent/986b2rbp0f-cor/file_sets/5977sqv9sj-cor) (many look like this).

[2019-12-12 15:50] eporter23 commented on #625
@devanshu-m will this be generated for each file in the FileSet, or just once? If we are capturing a success event for _all files_ in one event, let's confirm the eventDetails text.

[2019-12-12 15:51] devanshu-m commented on #625
Each file will have a fixity_check preservation_event @eporter23

[2019-12-12 15:57] SolomonHD commented on #321
Cantaloupe has been enabled on all curate environments

[2019-12-12 15:57] #321 closed

[2019-12-12 16:07] #836 closed

[2019-12-12 16:39] #714 closed

[2019-12-12 16:41] eporter23 commented on #780
Preliminary test notes: running a Kobe CSV against Langmuir rake task results in errors related to:
* arch and prod checks
* some Kobe CSVs are missing the "P" in the part number

[2019-12-12 17:34] #792 closed

[2019-12-12 17:55] #626 closed

[2019-12-12 18:07] eporter23 opened #845 "Images not loading in UV in -test (Login error)"
This error is recurring in curate-test as of 12/12. The Universal Viewer displays a log-in error and does not display images attached to a work.

See the prior ticket for this error: #674

![Screen Shot 2019-12-12 at 1.03.05 PM.png](https://images.zenhubusercontent.com/5b6de3fda32a4f476097b0be/b40725be-3b08-472e-8a25-051cc08ec791)

[2019-12-12 19:03] eporter23 opened #846 "Update Yellowbacks pull-list paths to match renamed/moved files"
See prior tickets.

[2019-12-12 19:43] eporter23 commented on #618
As of 12/12, Cantaloupe is re-enabled on curate-test. Images in curate-test are taking an extremely long time to load (minutes, not seconds). I've been trying to load a Langmuir image for 5 minutes as I write this comment, and it is still a black screen in the Viewer.

[2019-12-13 13:44] eporter23 commented on #780
@tmiles2 this work wasn't targeted for this sprint, I just moved it into In Progress because we'd started on some of it while working on a related task for Langmuir data loads.

[2019-12-13 14:00] eporter23 commented on #845
The login error appears to be gone, but images are extremely slow to load (minutes), so it is hard to test if they actually display in the viewer.

[2019-12-13 14:00] #845 closed

[2019-12-13 16:08] devanshu-m commented on #834
@eporter23 is this still blocked by another ticket?

[2019-12-13 16:09] eporter23 commented on #703
closing as duplicate

[2019-12-13 16:09] #703 closed

[2019-12-13 16:24] mark-dce opened #848 "Intermittent Test Failure: Admin setup"
Depending on when the following test runs in a randomized sequence, there may already be administrator users created.  The test checks for an absolute number of admins, but should probably be checking that the total number of admins changes by the expected number when the test is run (or you need to explicitly delete all admins before the test is run because other tests may create admins and not c

[2019-12-13 16:26] mark-dce opened #849 "Intermittent Test Failure: thumbnails"
I'm not sure why this is happening, but I've seen it on and off for a couple weeks now

[code]

[2019-12-13 16:29] mark-dce opened #850 "Importer does not handle multiple content_genres correctly"
We found an example of this when doing acceptance testing on the DCE side.  I've updated the test suite to show an example of the failing case - see below

[code]

[2019-12-13 16:35] mark-dce opened #851 "Update Import preprocessor to handle books that start on page 0 instead of page 1"
**STORY**
Some Emory yearbooks were digitized with the first image numbered starting at 0 instead of starting with image 1.

**ACCEPTANCE**
- [ ] Update the preprocessor to accept a parameter indicating the starting image number
- [ ] Update the preprocessor rake task to accept the new parameter

[2019-12-13 17:02] SolomonHD commented on #842
This was due to an issue with a rebuild, I'm creating a new role that will properly handle ImageMagick and other image libraries

[2019-12-13 17:28] eporter23 opened #852 "Preview CSV import: errors on supported fields"
Replicated in curate-test; curate-arch
Curate v0.5.1@2622d057c43f8d14fafbaae0a07943d098faa9be updated on 12 December 201

**Describe the bug**
When loading a CSV that has been either manually constructed or is a modified version of a rake-constructed CSV, the Preview CSV Import feature reports errors on fields that should be supported:
* deduplication_key
* abstract
* administrative_unit

HUNCH: t

[2019-12-13 18:06] mark-dce commented on #852
@eporter23 could you please post one or two of the modified files to box and link them here.  I'm concerned that Excel is adding hidden characters to the field names.  We've seen this in sample files modified in Excel before.

[2019-12-13 18:17] eporter23 commented on #852
Updated with links and some additional screenshots. I'll do some more testing after opening CSVs in OpenOffice or Apple Numbers to see if anything changes.

[2019-12-13 21:58] eporter23 opened #853 "Create parent works for nested yearbook objects"
Yearbooks are generally serial type works; need to create parent objects and then associate them to the volumes.

[2019-12-13 21:59] eporter23 opened #854 "Create parent works for Yellowback nested works"
Some Yellowbacks have a nested object structure. After the ingest is run, need to create parent works and associate them with child works.

[2019-12-16 14:18] #834 closed

[2019-12-16 14:33] eporter23 opened #855 "Importer: book pre-processor - SIP mapping for METS files"
In the book pre-processor rake task, the LIMB output should map METS files to _Supplemental Preservation_ as the PCDM use for the FileSet, but it's currently outputting as _Supplemental Content_. See [possible line in code](https://github.com/emory-libraries/dlp-curate/blob/0ef018c71c4cec8029cd162e9cfb30e7ecb10d55/app/importers/yellowback_preprocessor.rb#L188) to adjust.

[SIP mapping - LIMB outpu

[2019-12-16 14:40] eporter23 commented on #855
@mark-dce this is a low priority fix, but FYI if you have any time to address. I can adjust this manually in the CSVs.

[2019-12-16 15:38] SolomonHD commented on #618
There's been substantial upgrades to cantaloupe, I've modified the playbook to include a new role which downloads ImageMagick and other processors, also the cantaloupe configuration has been updated to use these processors. Performance is much more consistent now, I still feel it's a little slow to get the image itself, may need to research best caching strategy or  change how the delegate script

[2019-12-16 15:43] SolomonHD commented on #842
I've created a new role with installs the later version of ImageMagick, it's baked into the hyrax playbook, this should not be an issue on future rebuilds.

[2019-12-16 16:05] eporter23 commented on #615
Investigate ETD form for committee members

[2019-12-16 16:10] eporter23 commented on #824
Try testing a small sample from test. @devanshu-m notes that CSV needs to be uploaded to /config.

[2019-12-16 16:18] eporter23 commented on #161
To confirm: is there a Hyrax 3 bug that is impacting this? File Manager ordering does not save.

[2019-12-16 16:19] eporter23 commented on #161
To investigate: are there non-UI options to correct FileSet order within a work if needed?

[2019-12-16 16:22] eporter23 opened #856 "Spike: is FileSet ordering (File Manager) broken in Hyrax 3?"
Relates to #161. Confirm if this is a Hyrax bug before proceeding further.

Timebox this to half a day.

https://github.com/samvera/hyrax/issues/4054

[2019-12-16 16:24] eporter23 commented on #324
Discuss other options: would it be more straightforward to delete and recreate the FileSet?

[2019-12-16 16:40] eporter23 opened #857 "Test if Hyrax "Versions" feature functions for FileSets - Curate test/prod"
Part of FileSets editing epic: #482

[2019-12-16 16:41] eporter23 opened #858 "Argument Error in Curate-test when trying to upload a new file version"
![Screen Shot 2019-12-16 at 11.34.59 AM.png](https://images.zenhubusercontent.com/5b6de3fda32a4f476097b0be/cd881b37-cc18-424e-8864-07582b7e04de)

[2019-12-16 16:45] eporter23 commented on #391
close as duplicate for separate ticket

[2019-12-16 16:45] #391 closed

[2019-12-16 16:48] eporter23 commented on #330
This is impacted by FileSet versioning AND our preferred image customizations.

[2019-12-16 17:07] eporter23 opened #859 "Implement fixity check results report"
Follows the investigation ticket and implements a mechanism to supply the requested data for fixity checks running on a schedule.

[2019-12-16 17:12] eporter23 commented on #824
@devanshu-m if you want to test your rake task, I linked a small sample that is already loaded in test.

[2019-12-16 17:30] eporter23 commented on #817
@devanshu-m here is another Yearbooks CSV that you can run the DCE rake task on, same process as #834

[2019-12-16 17:40] eporter23 opened #860 "Preprocessor extensions for additional DAMS image collections"
Goal: expand the [Langmuir preprocessor](https://github.com/emory-libraries/dlp-curate/blob/0a50515828f401840decbff1977ce074e6e03538/app/importers/langmuir_preprocessor.rb) developed by DCE to support additional image collections' conventions. The Langmuir preprocessor expects certain patterns in its input file that do not always exist in other DAMS-managed collections.

For some DAMS-exported col

[2019-12-16 19:51] devanshu-m commented on #824
Notes:
Ran bulk-import rake task. Moving to test for @eporter23 to test sample works.

[2019-12-16 19:55] eporter23 commented on #824
@devanshu-m noted that the test file CSV headers needed to be fixed so that they consistently begin with workflow_ prefix (some are missing). This causes problems with import.

[2019-12-16 20:23] #824 closed

[2019-12-16 22:23] eporter23 opened #862 "Re-characterize preservation master file if it is replaced"
When we replace or version a PMF on a FileSet, we need to make sure the following occur:

- [ ] Characterization is re-run, so that Technical Metadata is refreshed
- [ ] Thumbnail is regenerated to reflect any changes in the content

[2019-12-17 16:02] #842 closed

[2019-12-17 18:30] eporter23 opened #863 "File permissions on single Kobe TIF (can't read)"
When trying to run the importer on some Kobe files, I got an error in sidekiq noting that a specific file could not be read: OXKOBE_045_P0001.tif

 I looked at the file in the EFS mount, and it shows

-rwxr-x---

whereas other files are -rw-r--r--

We need to reset the permissions on the file so it can be read for import.

[2019-12-18 14:04] eporter23 opened #865 "Re-transfer Yellowbacks files"
Since we transferred these collections initially to our EFS mount, we've discovered a number of file management anomalies (files still needing to be renamed, incorrect content files, etc.).

Kyle has continued to rename and correct file issues in our local environment, and at this point, it will be more efficient to re-transfer these files to AWS.

Please retransfer the following using our prior m

[2019-12-18 15:01] eporter23 commented on #852
@mark-dce I've switched to using OpenOffice when I need to modify any of the rake-processed CSVs. So far I have not encountered this error, so it does seem that Excel is the culprit. I'm not sure that there is a lot we can do about it, so Emory can factor this into its workflow. If you agree I will close this issue.

[2019-12-18 18:42] devanshu-m commented on #627
Rake task: `RAILS_ENV=production rails curate:file_sets:fixity_check`

[2019-12-18 19:48] rotated8 commented on #627
Use bundler, so we're always using the gems from the Gemfile.lock: `RAILS_ENV=production bundle exec  rails curate:file_sets:fixity_check`

[2019-12-18 20:32] mark-dce commented on #852
I like the OpenOffice solution.  Based on what you've found, we could also add code to look at the header fields and try to strip any non-printing characters at the beginning or end of the string before trying to match to the expected headers.

[2019-12-18 20:33] mark-dce commented on #852
(sorry hit carriage return too soon) I don't think the extra development is worth the effort if you're willing to use OpenOffice -FWIW  I've been editing this type of CSV file using OpenOffice for over a year and have never seen this issue.

[2019-12-18 20:51] eporter23 opened #867 "Investigate fixity check failures and inconsistent results"
Follows work completed in #822. The rake task for automated fixity checking has reported 42 failures on curate-test, but these files have not been touched by product users.

Test the outcomes of a manual check on a failure in Fedora vs. Hyrax.

![Screen Shot 2019-12-18 at 3.49.31 PM.png](https://images.zenhubusercontent.com/5b6de3fda32a4f476097b0be/66ecc778-8ba7-410b-802c-643018598bf8)

![Screen S

[2019-12-18 22:07] eporter23 commented on #852
I'm going to go ahead and close this, glad we confirmed what the issue was.

[2019-12-18 22:07] #852 closed

[2019-12-19 15:01] eporter23 commented on #822
Spot checked works on curate-test and this appears to be working (I can see pass/fail reports). Noting some additional testing that we should do because we were alerted to some failures: #867

[2019-12-19 15:01] #822 closed

[2019-12-19 16:05] #858 closed

[2019-12-19 16:09] tmiles2 commented on #627
Cron job will run weekly; start the job on Friday nights

[2019-12-19 16:44] eporter23 commented on #618
@mprefer @SolomonHD when we next pick this up, can we look into some of the caching options? https://cantaloupe-project.github.io/manual/4.1/caching.html

[2019-12-19 16:48] eporter23 opened #869 "Poor quality book page thumbnails on Curate-test"
While we had previously remediated this problem, book page thumbnails are poor quality again. We have achieved better quality on this in the past, has something changed? See also #842, #617

[Example object in test](https://curate-test.library.emory.edu/concern/curate_generic_works/7784j0zpcx-cor?locale=en)

![Screen Shot 2019-12-19 at 11.46.26 AM.png](https://images.zenhubusercontent.com/5b6de3fd

[2019-12-20 19:26] eporter23 commented on #846
Completed; the only required step was to update the two moved volumes' paths.

[2019-12-20 19:26] #846 closed

[2019-12-20 19:39] eporter23 commented on #701
We need to add Troopers revenge to the Alma output

[2019-12-20 20:05] eporter23 commented on #865
@mprefer @SolomonHD I'm queuing this up in case either of you have time to start this before the holidays. Please let me know if I can clarify any of this.

[2019-12-20 21:03] eporter23 commented on #780
The Langmuir pre-processor won't work as-is on the Kobe and Medical Artifacts collections because it is looking for filenames with _ARCH and _PROD. I've tested manually converting the DAMS CSV into a fillet structure and it can be imported that way. We will need to either extend the Langmuir pre-processor or create a variant DAMS pre-processor for collections like these two.

[2019-12-20 21:03] #780 closed

[2019-12-20 21:03] eporter23 opened #871 "Investigate extending Langmuir pre-processor for other DAMS scenarios"
Extends prior work to test running the Langmuir processor on the Kobe and Medical artifacts collections

[2020-01-03 05:12] mprefer commented on #865
All Yellowbacks transferred from local NFS storage to EFS storage @ AWS to the requested directories as specified above.

[2020-01-06 15:28] tmiles2 commented on #644
Closing out this ticket and creating a new ticket for the remaining/outstanding work.

[2020-01-06 15:28] #644 closed

[2020-01-06 16:09] mprefer commented on #863
Changed perms on :
Collections/dmfiles/Libraries/Oxford_SpecColl/OX-MSS011/Output/OXKOBE_045_P0001.tif
to -rw-r--r--

[2020-01-06 16:44] eporter23 opened #876 "Enhance and test Ansible role for SOLR backup"
Continues work started in #644

[2020-01-06 16:45] eporter23 commented on #876
@SolomonHD @mprefer please revise and further break out as needed

[2020-01-06 16:47] eporter23 opened #877 "Investigate increasing sidekicks workers to speed up bulk ingest rates"
We discussed increasing the number of sidekiq workers from 5 - 10. Solomon made some configuration changes but they do not appear to have increased in the application.

[2020-01-06 16:50] eporter23 opened #878 "Pause fixity check cron job in production during data loads"
The cron job developed in #627 was running in production in December, but we want to temporarily pause it until we have loaded all the data so that Curate has more resources for ingest.

A new ticket will be written to re-enable the cron job in production once all data is loaded.

[2020-01-06 16:52] eporter23 opened #879 "Test Migration Team member group access once enabled"
Once #778 is completed, do some testing with users to confirm

[2020-01-06 16:58] eporter23 opened #880 "Investigate QA options for Langmuir FileSet counts discrepancy"
I calculated the count of FileSets for Langmuir batch 5 based on filtering to the number of CSV rows with type fileset.

The batch 5 ingest produced 1523 works (correct count), but the number of "Files" reported in Curate is less than expected. Assuming that Hyrax's count of "Files" equals a count of FileSets:

Expected FileSet count = 28**22**
Ingested FileSet count = 28**16**

To investigate:
*

[2020-01-06 17:37] eporter23 commented on #865
Spot checked these and looks good. Thanks @mprefer

[2020-01-06 17:37] #865 closed

[2020-01-06 17:41] devanshu-m commented on #778
Hi @eporter23, can you add the link to the CSV that had users UIDs?

[2020-01-06 17:52] devanshu-m commented on #778
@SolomonHD ready to merge https://github.com/emory-libraries/cor-cm/pull/7

[2020-01-06 21:22] eporter23 opened #882 "Bulk Import Process - Enhancements"
## Story
As a Repository Administrator, I want to refine the bulk import process, so that more ingest scenarios can be accommodated for collections beyond Phase 1 migrations

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

#### Notes
Add notes here

#### Links to Additional Information
Add [links](https://www.emory.edu/) here

#### Checklist
- [ ]

[2020-01-07 16:03] #627 closed

[2020-01-07 17:04] eporter23 opened #883 "Correct file permissions on Medical Artifacts collection file"
When trying to run a test load of the Medical Artifacts collection, Sidekiq reports this error:

Errno::EACCES: Permission denied @ rb_sysopen - /mnt/import_efs/Collections/dmfiles/Libraries/Health_Sciences/HS-S023/HS-S023_B015_P002.tif

need to re-set the permissions to match the rest of the files so that it can be read/write as needed

[2020-01-08 14:15] mprefer commented on #878
Cron job for fixity check is currently disabled. Will enable when requested.

[2020-01-08 16:08] #863 closed

[2020-01-08 17:18] eporter23 opened #885 "Investigate file path errors on Yellowbacks samples"
See [notes here](https://docs.google.com/document/d/1UfLfDZc2D9US6McxEy2Ir0cqAI1R97keZ7pJapOfI6w/edit?folder=1wUMFAzkKMawUVFQAAuX7YKYsxMUE3BBX) - 5 out of 28 sample volumes reported files not found when trying to import.

When checking in the EFS mount, the directories exist, but the page-level content files (.tif, .pos, .txt) are missing.

![Screen Shot 2020-01-09 at 9.47.54 AM.png](https://image

[2020-01-08 18:07] devanshu-m commented on #856
Notes:
* Works in Hyrax but does not work for dlp-curate.
* Issue: Missing form param

[2020-01-08 18:11] devanshu-m opened #886 "Fix re-ordering issue (implementation ticket for #856)"
This is the implementation ticket for #856
- [ ] Add param to permitted params list
- [ ] Improve test suite for curate_generic_work_form for permitted params and model attributes

[2020-01-08 18:12] #856 closed

[2020-01-08 19:18] SolomonHD commented on #877
The SIDEKIQ_WORKERS environment variable was not working; The value was being ignored and it was defaulting to the hard coded value of 5. I've merged a change to dlp-curate that will hard code a value of 25 for production environments.

[2020-01-08 19:18] eporter23 commented on #878
I'll close this out @mprefer

[2020-01-08 19:18] #878 closed

[2020-01-08 19:19] #877 closed

[2020-01-08 19:19] eporter23 commented on #877
Closing based on current testing in all environments showing up to 25 threads

[2020-01-08 19:20] eporter23 commented on #782
Closing this because we wiped all the environments after this ticket was written.

[2020-01-08 19:20] #782 closed

[2020-01-08 19:22] eporter23 commented on #161
@devanshu-m should I close this ticket as a duplicate?

[2020-01-08 19:23] SolomonHD commented on #877
There has been issues regarding Database Pool being insufficient with this increased Sidekiq threads, I've also increased the database pool to 50 to help alleviate this.

[2020-01-08 19:31] SolomonHD commented on #778
This has been merged to cor-cm. Also I've rebuilt all the instances with this change so it should be working.

[2020-01-08 19:31] SolomonHD commented on #778
@devanshu-m @eporter23 Are there any tests for this ticket or do I close?

[2020-01-08 19:32] eporter23 opened #887 "Investigate - Fixity checking options on second S3 bucket"
When we establish our second copy workflow, we will also need to perform fixity checking on the second copies.

Investigate if this is possible in S3 directly, because Curate/Fedora won't be able to access the second bucket.

Time boxed at 5 points

[2020-01-08 19:39] SolomonHD commented on #869
@eporter23 I believe this issue was solved by the imagemagick roles I created, have you experienced this within the last couple of weeks?

[2020-01-08 19:48] eporter23 commented on #778
@SolomonHD @devanshu-m I've got a separate ticket to do any further testing with those users. I did check all the Curates and I see the user assignments updated as requested. Closing!

[2020-01-08 19:48] #778 closed

[2020-01-08 19:52] eporter23 commented on #869
@SolomonHD I'm running a test load of books right now and will take a look as they get processed.

[2020-01-08 20:16] devanshu-m commented on #161
@eporter23 Sorry, I didn't realize the implementation ticket already existed and created a new one #886. We can close either as a duplicate.

[2020-01-08 20:41] #161 closed

[2020-01-08 21:37] eporter23 opened #888 "Update Curate labels to reflect Lux labels"
The Lux UI implements some revised labels. We previously updated the labels in Curate, and should refresh these to match recent changes.

These labels should display consistently in the View Work, Edit and Create forms as well as the View, Edit, Create forms for Collections.

Current output:
curate_field_name (Display Label)
Example: holding_repository (Library)

Desired output:
Display Label (cur

[2020-01-09 14:44] eporter23 opened #889 "Regenerate thumbnails for Langmuir works"
A number of works have been ingested without thumbnails being generated. In some cases, the files appear to be otherwise processed (characterized, load in UV, download correctly).

In some cases, one or more thumbnails are missing for the FileSets (Front and/or Back).

Can we investigate using DCE's [rake task for regenerating derivatives on selected works](https://github.com/emory-libraries/dlp-c

[2020-01-09 15:38] eporter23 opened #890 "Display Cor PID as Persistent URL in UI and repurpose for Lux"

[2020-01-09 16:58] mightycollins commented on #876
Mark has it created via bash scripts.  Main task here is to anisbalize the script/process.

[2020-01-13 16:55] eporter23 opened #893 "Create a rake task to identify thumbnail and characterization problems"
Create a rake task to programmatically identify works with fileSets that are:

- [ ] missing thumbnails
- [ ] missing characterization

Other items:
- [ ] Use the rake task to replicate or expand on the manual QA list of works impacted
- [ ] See if we can get more information about these works
- [ ] Create a test suite case with a large sample image (~150 MB)

Use the [Cor IDs reported in the QA I

[2020-01-13 16:56] eporter23 commented on #893
@devanshu-m @rotated8 placeholder ticket for our QA investigation work meeting

[2020-01-13 17:00] eporter23 opened #894 "Investigate creating further rake tasks to regenerate thumbs; re-characterize filesets"
Look at modifying DCE's rake task to incorporate our preferred thumbnail logic

Add another rake task to re-characterize filesets

[2020-01-13 18:57] eporter23 commented on #700
QA issues are logged in the QA Issue Tracker worksheet and also as tickets for more large-scale problems.

[2020-01-13 18:57] #700 closed

[2020-01-13 19:02] eporter23 commented on #869
Yellowbacks and Yearbooks loaded into test and arch during the week of 1/10/20 have thumbnails as expected. Closing this and will open a new issue if it recurs.

[2020-01-13 19:02] #869 closed

[2020-01-14 16:19] eporter23 commented on #880
We investigated a couple of avenues for this including comparing the count of files in S3 vs the expected number of files in the batch. 2 works have been manually identified as having no FileSets (this accounts for 3 filesets/6 files total). The remaining filesets have not yet been identified.

[2020-01-14 16:19] #880 closed

[2020-01-14 16:35] eporter23 opened #897 "Re-index test to troubleshoot fileset indexing"
Perform a re-index of test to investigate if this resolves some missing file previews and other errors from the Langmuir imports

[2020-01-14 16:47] rotated8 opened #898 "Update RDS Certs"
Amazon post: https://aws.amazon.com/blogs/database/amazon-rds-customers-update-your-ssl-tls-certificates-by-february-5-2020/

[2020-01-14 17:07] eporter23 commented on #886
Closed after testing. File Manager ordering works on a very large book object. Tested both manual drag and drop and Sort Alphabetically options

[2020-01-14 17:07] #886 closed

[2020-01-14 17:09] rotated8 commented on #886
🎉

[2020-01-15 15:50] mprefer commented on #876
Ansible scripts written and tested locally.
Need to test in AWS environment, so moving to "To Test" column.

[2020-01-15 19:06] rotated8 opened #899 "SPIKE: Investigate Solr performance tuning"
- [ ] autocommit?
- [ ] autosoftcommit?
- [ ] time/docs/etc between commits?

[2020-01-15 19:08] rotated8 opened #900 "SPIKE: Sidekiq Preformance tuning"
- [x] Research running redis in Elasticache instead of on the server
- [x] Figure out best number of workers and the best queue weighting.
- [x] Fix process supervisor (systemd unit service) errors [Deploy doens't restart queue, just starts another one]

[2020-01-15 20:24] eporter23 commented on #897
Confirmed with @rotated8 that this completed in 4-7 hours. We didn't have detailed starting point logs on the works with thumbnail errors in -test, so it's hard to confirm what's been fixed. Will test again in other batches.

[2020-01-15 20:24] #897 closed

[2020-01-16 13:37] eporter23 opened #902 "Importer selection of representative media for books"
Confirm expected behavior: how does the importer assign the representative media and thumbnail for a work with multiple FileSets?

A small batch of Yellowbacks loaded into curate-test showed no thumbnails/preview images. I opened the work and found that it had set the representative media and thumbnail to the OCR file and not the PDF. Once I changed that and saved it, the book showed an appropriat

[2020-01-16 14:21] eporter23 opened #903 "UV loads no files after changing representative media type"
For a work that contains both PDF and TIF versions of book pages, we may sometimes want to switch between offering the PDF or a deeper page-level zoom presentation of the object.

In Curate:
If a book is created with the representative media set to PDF, Hyrax displays only a thumbnail (no UV) when viewing the work.
If I edit the work and select a TIF page file, the UV appears, but loads no files.

[2020-01-16 19:58] eporter23 opened #904 "Fixity check errors - file can't be found in S3"
When running fixity service both in Fedora and in Hyrax on this object as part of testing the rake task to diagnose problems with imports

http://fedora-cor-test.library.emory.edu/fcrepo/rest/prod/90/4d/nc/js/904dncjszk-cor#nested_g69997413133220

Both methods resulted in errors due to the file not being found in S3.

![Screen Shot 2020-01-16 at 2.53.52 PM.png](https://images.zenhubusercontent.com

[2020-01-17 13:14] tmiles2 commented on #876
@SolomonHD what's the latest progress on this ticket? I see that Mark last commented on moving it to test but now it's in progress column.

[2020-01-17 13:17] tmiles2 commented on #899
@mprefer can I get an estimate on this ticket?

[2020-01-17 13:41] eporter23 opened #905 "ArgumentError in Hyrax::FileSetsController#show - Nil location provided on some filesets"
In reviewing the outcomes of the rake task to diagnose and fix fileset errors after bulk imports, when trying to view some affected FileSets, this error displays:

[Sample work in curate-test](https://curate-test.library.emory.edu/concern/parent/470zpc867f-cor/file_sets/375dbrv16n-cor)

![Screen Shot 2020-01-17 at 8.37.52 AM.png](https://images.zenhubusercontent.com/5b6de3fda32a4f476097b0be/8e386e

[2020-01-17 14:29] eporter23 commented on #893
Outcomes from running the rake task on curate-test: https://docs.google.com/spreadsheets/d/17SWK-fVcwgAN4j7sOxzViPcEjLa-UuuJFtnyZLZSxP8/edit#gid=2006179059

[2020-01-17 16:10] eporter23 commented on #311
@tmiles2 I spoke to Steve Collins today about possibly bringing this up in the queue given recent downtime issues

[2020-01-17 17:03] tmiles2 commented on #311
@eporter23 Sounds like a good idea, especially if we don't currently have measures in place.

[2020-01-17 18:53] SolomonHD opened #906 "Update TKI Client"
On January 16th the TKI service was updated, and this updated TKI server requires that users have the latest build of the TKI client, which is currently build #189.

Please delete the old TKI build `rm -rf ~/rhedcloud-tki` and install the new one following the instructions [here](https://wiki.service.emory.edu/display/DLPP/Install+TKI+Client+and+Connect+to+DLP+EC2s)

Please confirm the new build o

[2020-01-17 21:25] tmiles2 opened #907 "SPIKE: Investigate Virus-related ingest failure"
Emily's comments: After running Devanshu's rake task we saw that all but 2 of the "not fixed" issues in test were cause by false-positive virus scan failures which prevented files from being ingested. After running the rake task in prod we saw that all of the "not fixed" items also showed repeated virus scan events which prevented a fileset from getting fully created
- [ Rake task outcomes in test

[2020-01-17 21:30] tmiles2 opened #908 "SPIKE: Investigate thumbnail generation errors root cause"
Emily's comments: while we have a way to regenerate them now, what is causing this to fail?

[2020-01-21 15:17] devanshu-m commented on #701
This is currently blocked due to an error while running the rake task.

![image.png](https://images.zenhubusercontent.com/5c12bc2dd3542818d52aa3a0/2fe50d0c-5685-43a4-b81b-5352fc7189b1)

[2020-01-21 15:21] #893 closed

[2020-01-21 15:23] tmiles2 commented on #876
Remaining work - test in AWS

[2020-01-21 15:37] tmiles2 commented on #907
First steps would be finding out if the files are in S3

[2020-01-21 15:42] tmiles2 commented on #908
First steps would be finding out if the files are in S3

[2020-01-21 15:43] rotated8 opened #909 "SPIKE: Investigate File Download Performance"

[2020-01-21 15:58] tmiles2 opened #910 "IIIF Manifest caching"
- [x] Add logic to retrieve an already cached manifest
- [x] Add logic to create new manifest if not already created when work page is visited
- [x] Add rake task to create manifest and save them in cache

[2020-01-21 16:01] tmiles2 commented on #903
Linked to #910

[2020-01-21 16:26] #883 closed

[2020-01-22 13:59] tmiles2 opened #912 "SPIKE: Investigate monitoring and alerts on Events"
Related to #311

- [ ] Schedule a meeting with DevOps (include Steve C.) to discuss the tools for monitoring alerts and what alerts are being monitored

- [ ] Outline any gaps in monitoring and the solution to clear the gaps

[2020-01-22 14:04] tmiles2 commented on #912
@rotated8 Can you take the lead on this ticket, getting the meeting setup sometime this sprint (if possible). We could time box this at 3pts?

[2020-01-22 14:18] tmiles2 commented on #907
@SolomonHD @mprefer you can click the link to test and prod outcomes to see the errors.

[2020-01-22 14:23] mightycollins commented on #912
Will discuss with my team in tomorrow's team meeting.  Then we can have a broader discussion.

[2020-01-22 15:24] eporter23 commented on #894
@devanshu-m should we close this one as a duplicate?

[2020-01-22 15:26] devanshu-m commented on #894
@eporter23 I guess?

[2020-01-22 15:36] eporter23 commented on #909
@tmiles2 @rotated8 @devanshu-m can you all confirm details of this ticket?

[2020-01-22 15:38] eporter23 commented on #755
@tmiles2 @rotated8 @devanshu-m can you all confirm why this is blocked? Is this tied to another ticket?

[2020-01-22 15:40] eporter23 commented on #894
Closing as duplicate for a ticket already closed

[2020-01-22 15:40] #894 closed

[2020-01-22 15:41] eporter23 commented on #889
Closing this as a ticket because it will be ongoing work.

[2020-01-22 15:41] #889 closed

[2020-01-23 15:42] SolomonHD commented on #907
@tmiles2 @rotated8

The files in S3 are named after their MD5 hash, can you please add the MD5 hashes to the spreadsheets so we can lookup if they are in S3.

[2020-01-23 16:18] mightycollins commented on #907
I haven't heard if ETD has these kinds of issues with their virus checking.  Can this be replicated in ETD?  Are the configurations between ETD and DLP different?

[2020-01-23 17:53] rotated8 commented on #907
@mightycollins ETD's configuration and operation is significantly different from Curate. Curate is ingesting thousands of files very quickly, which should never happen for ETDs.

[2020-01-23 22:56] rotated8 opened #913 "SPIKE: DCE Sidekiq Knowledge Sharing"
@bess mentioned in Slack that DCE has done a bunch of work on Sidekiq configuration.

- [x] @bess, @SolomonHD, and @rotated8 should meet to discuss what DCE has learned, and where Emory is headed.

[2020-01-23 23:00] rotated8 commented on #900
@SolomonHD Is this ticket at a point we can pause it until we've met with @bess ?

[2020-01-24 18:52] #179 closed

[2020-01-24 19:09] eporter23 commented on #288
Closing, but see bug ticket for LIMB SIP mapping for METS files #855

[2020-01-24 19:09] #288 closed

[2020-01-24 19:10] #218 closed

[2020-01-24 19:10] eporter23 commented on #289
Closing but see revision ticket #855 for LIMB SIP mapping

[2020-01-24 19:10] #289 closed

[2020-01-24 19:11] #286 closed

[2020-01-24 19:47] eporter23 commented on #850
Haven't seen any problems related to this while doing various imports over the last month, so I'm closing this out.

[2020-01-24 19:47] #850 closed

[2020-01-26 17:04] eporter23 opened #915 "Date digitized repeated in bulk imported books"
To confirm: are MARC date formats always consistent?

The Date Digitized field is repeated multiple times in book objects as shown below.

We also need to correct the date so that it is formatted in EDTF time, because it appears to cause problems with validation when you try to save the work using the work form. The field is not required, but it does show validation errors if you scroll down to vi

[2020-01-26 17:07] eporter23 opened #916 "Bulk imports fail because input CSV file cannot be found"
This problem started showing up on 1/24/20. The uploaded CSV file goes through the pre-check process, but then we start to see errors in Sidekiq.

1) When trying to run imports, the import is slow to start and reports this error:

RuntimeError: Cannot find expected input file /opt/dlp-curate/releases/20200109213604/tmp/csv_uploads/langmuir_batch3-processed-B060-68.csv

2) This error then recurs wh

[2020-01-27 14:09] eporter23 commented on #699
Closing - QA issues have been logged in the issue tracker. The appropriate number of works and filesets have been created for batch 4.

[2020-01-27 14:09] #699 closed

[2020-01-27 14:28] eporter23 commented on #701
@mark-dce since this is an xpath error, I assume it ties to the alma xml source. I wanted to confirm, does the pre-processor expect an exact 1:1 of alma records to works in the pull-list CSV? I'd recently split the Yellowbacks into two CSV files, but we're trying to use the same Alma xml file (which has _all_ the Yellowback records and is not split). Could this be causing the error that Devanshu n

[2020-01-27 15:42] SolomonHD commented on #876
Current ansible roles:
Restore: https://github.com/emory-libraries/emorylib_solr_cloud_restore_from_s3/tree/first-devel
Backup: https://github.com/emory-libraries/emorylib_solr_cloud_backup_to_s3/tree/first-devel

I'm putting some finishing touches on the Backup part.

[2020-01-27 16:05] tmiles2 commented on #876
@SolomonHD are the "finishing touches" based on the outcomes from testing that was done in AWS or is testing still pending?

[2020-01-27 16:06] eporter23 commented on #916
Notes from Solomon in Slack:

o I notice that the csv uploads go to a local "release" folder of curate instead of a shared folder
10:46
Is that intended? Why aren't we using efs for that?
10:48
@emily I see the langmuir_batch3-processed-B060-68.csv file, but it's in a different release
10:48
/opt/dlp-curate/releases/20200116182450/tmp/csv_uploads/langmuir_batch3-processed-B060-68.csv
10:48
That's

[2020-01-27 18:06] SolomonHD commented on #900
Currently sidekiq-capistrano branch is deployed to curate-test. This branch enables AWS elasticache redis instead of local.

@rotated8 Yes I think this is blocked until my changes to dlp-curate have been reviewed. Also I need for developers or to make sure the repo is still working for them locally after these changes.

[2020-01-27 19:10] SolomonHD commented on #876
I've ran into some issues when testing with AWS. Mainly it's in how the backups were made, I was not using correct API call for that, I was using some sort of replication API instead of the correct "Collections" API.

I'm going to put this back in progress until I have the issues ironed out.

[2020-01-27 19:35] SolomonHD commented on #916
I'm going to create another branch in curate which links these folders properly.

[2020-01-27 20:37] SolomonHD commented on #916
I've deployed a branch to curate-test which fixes the issue:
![image.png](https://images.zenhubusercontent.com/5c191329a896da5d83d69955/9a3c80d5-bf11-4b3e-a525-b17e50478a87)

[2020-01-28 14:55] eporter23 opened #918 "Enhance ability to select Collection thumbnail"
We have restored the ability to assign a thumbnail to a collection, but the current Hyrax UI option does not allow you to select a specific work - it appears to arbitrarily pick a work and its filesets to choose from.

Ideally, a user could assign a specific FileSet ID and/or perform a search to select a specific work within the collection, and then choose a FileSet within the specified work.

Bec

[2020-01-28 15:33] mprefer commented on #899
Have read various sections of the official Solr reference guide and Solr High Performance, watched several YouTube videos on Solr performance, and various entries from a Google search.
Taken a default solrconfig.xml and copied pertinent performance entities to the Hyrax solrconfig.xml.
Most settings are set to the default values as a baseline, some obvious tweaks have been made.

Nothing has been

[2020-01-28 15:33] #899 closed

[2020-01-28 16:37] #679 closed

[2020-01-28 16:43] tmiles2 commented on #907
Related #905

[2020-01-28 16:51] mightycollins commented on #912
Here is what I have:
Story/Epic to establish monitoring of DLP infrastructure in a robust and agile method.  Using CloudWatch, we should be able to implement monitoring and event capturing in AWS.  These events dependent on severity should trigger notifications informing the team of potential issues.  Out of the box, CloudWatch captures information on most of the native services.  Establishing vie

[2020-01-28 16:54] tmiles2 commented on #916
- [ ] rebuild Arch

- [ ] run small ingest

- [ ] Deploy

- [ ]  ingest again

[2020-01-28 17:43] eporter23 commented on #907
@alexBLR these are the outcomes of the latest run of the fileset indexer rake task in Curate prod. The Filesets highlighted in yellow are still active and the first six show the repeated virus scan events which pass (but the preservation master file is not attached). https://docs.google.com/spreadsheets/d/1ybkJRJVdjrmSbHOvOppnkgHT0e8-TYF1xisof7cZHfU/edit#gid=178429282

[2020-01-28 17:45] eporter23 commented on #907
@alexBLR here are some additional examples of what seem to be false-positive viruses detected in the test environment: https://docs.google.com/spreadsheets/d/17SWK-fVcwgAN4j7sOxzViPcEjLa-UuuJFtnyZLZSxP8/edit#gid=2006179059

[2020-01-28 20:00] mprefer commented on #899
solrconfig.xml:

https://emory.box.com/s/uhiiyubbgdu66r1gjwyoi50yebf127to

[2020-01-29 14:05] eporter23 opened #920 "Bulk-ingest performance enhancements"
**As a preservation curator, I want to optimize our bulk import process, so that large ingests complete successfully and with less manual intervention to correct errors**

Notes

Checklist

Performance/stability:
- [x] Ingests complete successfully, generating the expected number of works and filesets
- [x] Number of background workers is scaled to optimize speed of ingest vs. stability/error rate

[2020-01-29 16:19] tmiles2 opened #921 "Ansible Tower Usage"
Create an automatic Ansible to usage

[2020-01-29 16:25] SolomonHD commented on #910
@devanshu-m
Where is this caching stored on the server? Is there an env variable that controls the path?

[2020-01-29 16:25] tmiles2 opened #922 "Automated backup process"
Related to #838

[2020-01-29 16:26] devanshu-m commented on #910
@SolomonHD it is stored in the tmp folder in the application

[2020-01-29 16:33] rotated8 opened #923 "Move Manifest Caching off EC2 Storage"
Currently, IIIF manifests are cached on EC2 storage, which will be destroyed when the EC2 is rebuilt. Instead, they should be cached in a permanent, non-release dependent, place.

Devops:
- [x] Where is this storage mounted?
- [x] Does the application have write access?

---

Software Engineering:
- [ ] Change the caching location to include the hostname of the server
- [ ] Change the caching loca

[2020-01-29 19:04] #913 closed

[2020-01-29 19:18] SolomonHD commented on #900
@rotated8 I believe the sidekiq-capaistrano branch is ready for merging. I've tested it on the server pointing to both localhost and external aws redis and it works either way. Also I ended up making the REDIS_HOST, REDIS_PORT, REDIS_DATABASE variables optional, if they're not defined they default to localhost, 6379 and 0 respectively.

[2020-01-29 20:20] SolomonHD commented on #910
@devanshu-m Can we set an env var to control this? That will make for easy moving of cache data later. You can make the default the tmp folder if this env var is undefined.

[2020-01-29 21:31] eporter23 commented on #18
Currently, Curate shows all populated metadata fields. If a user has authorization to see a work, they will see all/any fields populated. if this becomes a concern, we can look at more granular field-level display options.

[2020-01-29 21:34] eporter23 commented on #462
This work was largely completed; any remaining work will be a future enhancement.

[2020-01-29 21:34] #462 closed

[2020-01-29 21:52] eporter23 commented on #19
Any further work on this can be a v.1+ enhancement. At minimum we should document the prefix convention.

[2020-01-29 21:52] #19 closed

[2020-01-29 22:08] eporter23 commented on #744
Confirm how this relates to Lux work

[2020-01-30 16:03] #910 closed

[2020-01-30 17:53] eporter23 opened #925 "Add additional Yearbooks for ingest"
Kyle identified some additional volumes that had been digitized. They are all LIMB outputs.[ See this CSV for extra volumes at the end.](https://emory.box.com/s/i3ue173llid12hiru56tm8tvnrpewxne)

- [x] Review Kyle's additions to pull-list
- [x] Add additions to import CSV
- [x] Transfer additional volumes to EFS
- [x] Run preprocessor on additional volumes (LIMB mode)
- [x] Update Alma record expo

[2020-01-30 18:04] devanshu-m commented on #701
The xml file is missing the `Alma MMSID` field which might be required here: https://github.com/emory-libraries/dlp-curate/blob/master/app/importers/yellowback_preprocessor.rb#L85

[2020-01-30 18:16] devanshu-m commented on #605
@eporter23 How do I reproduce this error? I am trying to find a way to feature a work.

[2020-01-30 18:31] tmiles2 commented on #899
@rotated8 Did you have a chance to review the link above?

[2020-01-30 18:31] rotated8 commented on #899
Not yet. I'll take a look this afternoon.

[2020-01-30 20:08] devanshu-m commented on #701
Note: The `ALMA MMSID` field in the CSV might be the issue.

[2020-01-30 20:41] mark-dce commented on #701
Yes, the preprocessor assumes that each item in the supplied csv will have a Valid MMSID that matches and entry in the supplied xml file.  If you think this is a situation that might re-occur, we can add some additional error logging; otherwise, correcting the input files to have a valid MMSID in the CSV that matches a corresponding record in the XML file should fix the problem.

[2020-01-30 21:20] eporter23 commented on #701
@mark-dce @devanshu-m the good news is - we discovered that the Alma ID value was getting undesirably auto-reformatted as a number with extra digits in the CSV file. We ran a small sample cleaning up those values and it ran just fine. I'll retrace through the CSV steps to see where this is happening.

[2020-01-30 21:54] eporter23 commented on #701
@devanshu-m I believe I have corrected the CSV files - refreshed versions are available at the links above

[2020-01-31 14:08] eporter23 commented on #650
This will likely become a v.2 feature

[2020-01-31 15:02] mark-dce commented on #701
@eporter23 that's good to hear.  Let me know if it would still be helpful to have some additional error messaging to help identify if this every happens again in the future, or whether you think you'll be able to recognize this if it happens again without any additional coding.

[2020-01-31 15:37] rotated8 commented on #900
Reviewed, and made some changes. Would like @SolomonHD's thumbs up.

[2020-01-31 19:13] eporter23 commented on #903
this appears to be resolved now with work done in #910

[2020-01-31 19:13] #903 closed

[2020-01-31 19:23] eporter23 opened #928 "CSV Importer Enhancements"
## Story
As a Preservation Curator, I want to expand the current CSV import process, so that additional metadata properties and SIP scenarios can be supported for bulk-ingest

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

#### Notes
Add notes here

#### Links to Additional Information
Add [links](https://www.emory.edu/) here

#### Checklist
- [x

[2020-01-31 19:25] eporter23 opened #929 "Load to prod - Kobe Collection"
Load the entire batch CSV (can be completed in 2-3 hours)

[2020-01-31 19:26] eporter23 opened #930 "Load to prod - Medical Artifacts"
Load the entire CSV as one batch
Run the fileset cleanup rake task

[2020-01-31 19:33] #882 closed

[2020-01-31 19:38] eporter23 opened #931 "Lux Support from Curate"
## Story
As a Repository Administrator, I want to optimize data and settings managed in Curate for end user display, so that digital objects discoverable in Lux can be managed through Curate

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

#### Notes
This epic links tickets for work done in Curate to support the Lux user interface

#### Links to A

[2020-01-31 19:48] eporter23 commented on #898
@rotated8 @SolomonHD @mprefer is this done already?

[2020-01-31 19:59] rotated8 opened #932 "Create an ADR about caching IIIF manifests"

[2020-01-31 20:01] eporter23 opened #933 "Curate Search and Display Enhancements"
## Story
As a Library Staff Depositor or Collection Manager, I want an enhanced user interface for search and display in the Curate product, so that I can search and preview data more precisely

## Acceptance Criteria
_Use one or more of the following options to provide acceptance criteria._

#### Notes
This epic is a catch-all for various user interface enhancements related to search, browse and

[2020-01-31 20:04] #629 closed

[2020-01-31 20:11] eporter23 commented on #838
In release planning on 1/29/20 we discussed doing this after the data loads are completed

[2020-02-01 00:53] rotated8 commented on #898
The automatic service update should already have passed, right @SolomonHD? That would mean we're one env down, two to go.

[2020-02-01 02:32] #900 closed

[2020-02-01 02:32] #916 closed

[2020-02-01 02:36] SolomonHD commented on #876
The two roles are in an acceptable state and I've tested them thoroughly, closing ticket.

[2020-02-01 02:36] #876 closed

[2020-02-01 02:38] SolomonHD commented on #909
From our testing, the issue is the F5 load balancer(LB), normally curate goes through the F5 LB and fedora does not. We manipulated our /etc/hosts file to bypass the F5 for curate and all downloads we ran from curate worked fine, just like fedora.

[2020-02-01 02:38] #909 closed

[2020-02-01 02:39] #906 closed

[2020-02-01 02:39] SolomonHD commented on #906
I assume everyone needs to update has updated, closing ticket.

[2020-02-01 02:40] SolomonHD commented on #898
Yes the dev RDS has been updated, I'm going to schedule the prod RDS to update this Sunday.

[2020-02-03 14:08] #613 closed

[2020-02-03 14:18] eporter23 opened #936 "Supply volume level PDFs, OCR data files to Lux users for download"
For digitized books, we ingest image files for each page, but also provide a PDF for the entire volume. Some volumes also provide an OCR data file for the whole volume. These files should be offered as downloadable files for Lux viewers.

In Hyrax, these additional files should be able to be selected in the _Rendering_ field, but this does not currently work in Curate.

![Screen Shot 2020-02-03 at

[2020-02-03 14:23] eporter23 commented on #885
To confirm - these may be the same volumes that we changed the directory structure on previously.

[2020-02-03 16:01] tmiles2 commented on #936
DLP- Lux/#271

[2020-02-03 16:03] #697 closed

[2020-02-03 16:08] #898 closed

[2020-02-03 16:14] eporter23 opened #938 "Implement adjustments for virus scan errors/false positives"
Move from investigation into fixes from prior ticket

[2020-02-03 17:57] rotated8 opened #939 "Update .env.production"
With @Bess's PR #934, the `.env.production` file will need to be updated to include the following:

`IIIF_SERVER_URL=https://hostname_for_curate_application/iiif/2/
PROXIED_IIIF_SERVER_URL=https://HOSTNAME_FOR_THE_ACTUAL_CANTALOUPE_SERVICE/iiif/2/`

[2020-02-03 17:58] rotated8 commented on #939
This is blocked, pending #934 getting merged.

[2020-02-03 18:20] SolomonHD opened #940 "Discuss F5 issues with Networking"
This ticket is for cataloging the issues Curate is having with the F5 Load Balancer (LB).
Currently curate, lux, iiif are behind the F5 LB but fedora, solr are not.

- F5 LB seems to be interfering with downloads from curate. Downloads from behind the F5 do not deliver the full file, if the file is above a certain size ~140M. If the F5 is bypassed via hosts file, the downloads work correctly.

- W

[2020-02-03 19:15] SolomonHD opened #941 "SPIKE: Evaluate Solutions for Automated Ansible Scripts"
With the creation of the solr backup and restore Ansible roles, the DLP project is in need of a solution for running automated ansible scripts.

Options:
- Official emory service, tower.service.emory.edu
- Run AWX (Ansible Tower upstream) inside the aws account
- Run ansible scripts in cron on an ec2 inside the account

[2020-02-03 19:25] SolomonHD commented on #941
I just had a conversation with Ryan Hewett, who is the technical contact with for Emory Ansible Tower.
Notes:

1. Right now there is no official support for AWS@emory accounts and tower.service.emory.edu.
  * Tower is running out of licenses, (each EC2 would count against the license) so there would have to be some sort payment/arrangement between Steve Siegelman team and Library for support
  * C

[2020-02-03 19:31] rotated8 opened #942 "FileSet Preferred Presentation File Interface"
A FileSet instance should should be able to share which of its files is the preferred presentation file in one, reusable way.

- [x] Identify places a preferred image is already being selected.
- [x] Design and implement an interface that can replace the code from the step above
- [x] Test it

[2020-02-03 19:36] SolomonHD commented on #923
The efs mounts are different for each environment, e.g. Arch's is /mnt/arch_efs, prod's is /mnt/prod_efs.

The efs mounts are wide open and any user can write to them, the thumbnails are stored on efs.

I would suggest setting another environment variable for this or perhaps piggy-backing off an existing one.

[2020-02-03 21:23] SolomonHD commented on #941
#### Run AWX inside AWS@Emory account Issues and Challenges

##### 1. Figure out best way to deploy AWX.
  * AWX is intended to be deployed via docker but DevOps experience with docker is low.
  * There are unofficial alternatives like  [AWX-RPM](https://awx.wiki/) which is more in our wheel house, but upgrading from this solution could be challenging.
##### 2. AWS resources for AWX
  * Another EC

[2020-02-04 00:42] eporter23 opened #943 "Investigate ingest rate slowdown (amount of works/files per hour)"
Based on ingest rates since December, Langmuir imports had averaged out to be about 50 works per hour.

Our Langmuir ingest rates have been variable, but [appear to have slowed significantly since 1/27/20.] (https://docs.google.com/spreadsheets/d/1YhpM8MVsoeHwnf-Hr-u-NcDyQJLuScWL3YvM39CGbFk/edit#gid=0) A batch load of about 1000 works took 22 hours to complete on 1/27, but a subsequent load on 1/3

[2020-02-04 00:44] eporter23 commented on #943
@rotated8 I wrote a starter ticket for this issue, but please refine as you have time.

[2020-02-04 13:14] tmiles2 commented on #618
@mprefer Can we get this closed out with your findings this morning?

[2020-02-04 13:26] tmiles2 commented on #912
@rotated8 Can we get this closed out this morning?

[2020-02-04 13:41] tmiles2 commented on #623
@SolomonHD Can I get an updated list of tasks to complete this work?

[2020-02-04 15:58] mprefer commented on #618
Ran numerous 'wget's with captured IIIF URLs directly to the Cantaloupe server across a VPN connection from my local system. All the wget file downloads were less than 1 second duration.
Using the UI to display the same images in the Universal Viewer were much slower.
I'm wondering if UV has any settings that can be tweaked that affect it's performance?

[2020-02-04 15:58] #618 closed

[2020-02-04 17:34] rotated8 commented on #907
Moving this to "To Merge", to reflect @alexBLR being done working on this, but it needing a final comment before it can close.

[2020-02-04 17:45] eporter23 opened #944 "Load more test data for relevancy and search testing"
We need more variety of sample data to work with in Lux for certain types of testing/refinements.

See the [original QA samples](https://docs.google.com/spreadsheets/d/1Gj9AuNX46THLh6d2FgyFsrFyK8wayREuE2gNaGFiBPA/edit#gid=108442089) as one set to load in arch or test.

From Nik and Mark Bussey:

 So if you were going for some kind of limited subset of each collection, I guess I’d recommend:
50% of

[2020-02-04 17:46] eporter23 commented on #944
@nikdragovic tagging you so that you are aware of any progress on this ticket!

[2020-02-04 19:20] mprefer commented on #885
Used 'rclone' to copy 2364 missing files out of a total 7787 total files based on the paths provided above.

[2020-02-04 20:17] rotated8 opened #946 "Add Max to Admins"
- [x] Add Max to the list of users to create and admin-ify

[2020-02-04 20:24] #702 closed

[2020-02-04 20:30] devanshu-m opened #947 "Implement FileSetCleanUp to run as a background job"
- [x] Change how rake task runs file_set clean up
- [x] Write test

[2020-02-04 20:30] SolomonHD opened #948 "Use environment variable for IIIF Manifest Cache"
IIIF Manifest is something that @eporter23 wants to persist between ec2s, but currently it's a hard coded path to /tmp of the rails app.

- [x] Replace the hard coded path with an environment variable called IIIF_MANIFEST_CACHE

[2020-02-04 20:32] eporter23 commented on #885
@mprefer I can now see all the files in the Output subdirectory - thanks! There may be a few more file transfer/copy requests coming related to file cleanup that Kyle has been doing but I'll write them up separately as I find them.

[2020-02-04 20:32] #885 closed

[2020-02-04 22:06] rotated8 opened #950 "Solr Monitoring"
Solr should have monitoring for:

- [x] Java low memory status (Low Heap)
- [x] Solr Cloud (jetty) up/down
- [x] Apache up/down
- [x] Zookeeper up/down
- [x] If a Solr cluster member is up/down, (potentially using Solr Cloud API)
- [x] EFS is mounted

---
- [ ] It should alert if one of the above conditions is met.

[2020-02-04 22:06] rotated8 opened #951 "Fedora Monitoring"
Fedora should have monitoring for:

- [x] Java low memory status (Low Heap)
- [x] Tomcat up/down
- [x] Tomcat log errors via Java Service Wrapper
- [x] Apache up/down
- [ ] S3 access
---
- [ ] It should alert if one of the above conditions is met.

[2020-02-04 22:10] rotated8 opened #952 "Cantaloupe Monitoring"
Cantaloupe should have monitoring for:

- [x] Java low memory status (Low Heap)
- [x] Uptime (whether Cantaloupe is up or down.)
- [x] Apache up/down
- [x] Apache Threads

[2020-02-04 22:10] rotated8 opened #953 "Sidekiq Monitoring"
Sidekiq should have monitoring for:

- [ ] Sidekiq daemon up/down
- [ ] One instance running
- [ ] Elasicache Redis up/down
---
- [ ] It should alert if one of the above conditions is met.

[2020-02-04 22:11] rotated8 opened #954 "Application Monitoring"
Apache should have monitoring for:

- [x] Uptime
- [x] Server Errors
- [x] EFS is mounted
---
- [ ] It should alert if one of the above conditions is met.

[2020-02-04 22:13] rotated8 opened #955 "AWS-Native Service Monitoring"
AWS-native services should have monitoring for:

- [x] Uptime
- [x] Appropriate usage statistics (CPU/Memory, etc.)
---
- [x] It should alert if one of the above conditions is met.

[2020-02-04 22:14] rotated8 opened #956 "Infrastructure and Middleware Monitoring and Alerting for Arch Envs"

[2020-02-05 00:28] rotated8 commented on #956
@mightycollins Please update the tickets attached to this epic with any additional specific monitoring metrics.

[2020-02-05 00:29] rotated8 opened #957 "Deploy Monitoring and Alerting to the Test envs"
- [ ] Monitoring and Alerting are available on the -test infrastructure.

[2020-02-05 00:32] rotated8 opened #958 "Deploy Monitoring and Alerting to Production envs."
- [ ] Monitoring and Alerting are available on the production envs

[2020-02-05 13:55] tmiles2 commented on #956
@mightycollins It would be good to have the work estimated as well so we know about how long the work will take.  Here's the link to the document we use for estimation [https://emory.app.box.com/notes/438779928854](url)

[2020-02-05 14:38] eporter23 opened #959 "Incomplete page counts in UV in Lux vs. Curate filesets"
After loading a number of book volumes into curate-arch, the count of pages displayed in the UV in Lux is different than the list of filesets shown in Curate.

[Example work in Curate-arch](https://curate-arch.library.emory.edu/concern/curate_generic_works/39995x69rx-cor?locale=en&page=12) - Memory [1981]
- number of page filesets is 108 (110 filesets minus the PDF and METS filesets)

[Work displa

[2020-02-05 18:02] devanshu-m commented on #907
Notes from investigation done by @alexBLR and I:

* You can create a file_set without a preservation_master_file through the console.
  * When attaching pmf and imf (for instance), the jobs might be running async (in parallel) so even if pmf does not attach, imf might, and the file_set should get created which might cause a file_set not having a pmf.
  * solution: checking for a pmf being present

[2020-02-05 18:25] SolomonHD commented on #939
It shows #934 as merged so I assume this is unblocked

[2020-02-05 20:02] eporter23 commented on #959
@devanshu-m and I investigated this and found that if filesets were missing thumbnails or previews, they  seemed to be missing/skipped in the UV.  After running the fileset cleanup rake task in arch and saving the works to refresh the manifests, the missing pages then appeared in the UV in Lux.

[2020-02-06 06:15] rotated8 commented on #912
Tickets were created yesterday. Epic #956, then implementation tickets #950 to #957

[2020-02-06 06:15] #912 closed

[2020-02-06 16:04] #701 closed

[2020-02-06 16:05] #907 closed

[2020-02-06 17:37] SolomonHD commented on #623
I've begun the process on curate test. I've stopped httpd on curate test

Currently I've backed up:
- EFS mount via AWS Backup
- Curate database via ansible role
- Fedora database via ansible role
- Solr curate-collection via ansible role

Next step is backing up the s3 bucket itself, then I begin clearing out all items listed